
*{
	margin: 0;
	padding: 0;
}
html{
	
}

body{
	/*background-color:lightblue;*/
	background-color: #F0F1F4;
	/*Tao hinh nen fullscreen cho website*/
	background-image: url('images/Background/bg.jpg');/* Duong dan hinh*/
	/*Thuoc tinh de lam background*/
	/*	khong nen dung thuoc tinh size  vi gay cham*/
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	overflow-y: scroll;

}
.header{
	height: 75px;
	width: 100%;
	/*background-color: red;*/
	display: flex;
	justify-content: center;
	position: relative;

}
.header div{
	position: absolute;
	left: 0;
}
#LogoWeb{
	margin: auto;
	height:auto;
	width: auto;
}

.fa-clock{
	font-size: 17px;
}
.fa-comment{
	font-size: 17px;
}
/*Start CSS Navigation*/
.navigation{
	position: sticky;
	top: 0px;
	/*2 thuoc tinh position sticky va top 0 dung de nav luon xuat hien*/
	z-index: 10; 
	margin-bottom: 10px;
	/*margin: 5px;*/
	height: 50px;
	width: 100%;
	background-color: #333333;
	box-shadow:  4px 4px 5px 1px rgba(50, 50, 50, 0.47);
}
.nav-left{
	width: 1100px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	margin: auto;
}
.nav-right{
	position: absolute;
	right: 0;
	top:0;
}

.navigation li{

	border-left:  0.5px solid #222;
	background-color: #333333;
	float: left; 
	text-align: center;
	height: 50px;
	width: 130px; 
	line-height: 50px; /*dung de text o chinh giua*/
}
.navigation a{
	color: #f2f2f2;
	text-decoration: none;  
	font-weight: bold;
}

.navigation li:hover {
	
	background-color: #D94642;
	color: #FFFF;

}

.navigation li.active {
	background-color: #D94642;
	color: white;
}
.homepage a i{
	font-size: 17px;
	padding: 14px 16px;

}
div.user-right{
	float: right;

}
.btn-nav{
	margin-right:  5px;
}
.NavbarUser{
	display: none;
	box-shadow: 0px 2px 7px rgba(0,0,0,0.45);
	position:absolute;
	margin-top:10px; 
	right: 10px;
	height: auto;
	width: 200px;
	background-color: #333;
	border-radius: 10px;
}
.NavbarUser:after{
	background-color: #333;
	position: absolute;
	width: 20px;
	height: 20px;
	top:-20px;
	left: 90%;
	margin-left: -10px;
	margin-top: 15px;
	z-index: -1;
	/*margin left bang 1 nua chieu rong */
	content: ''; /*Can Them The Nay De xuat Hien*/
	transform: rotate(45deg);
}
.NavbarUser i{
	color:white;
	font-size: 17px;
}
.NavbarUser a{
	margin-left: 25%;
	margin-right: auto;
}
.NavbarUser a:first-child i{
	margin-top: 5px;
}
#icon-user{
	color: white;
	font-size: 20px;
	padding: 14px;
}
button.btn-sumnit-user{
	border: none;
	background-color: #6D6E6A;
	/*	border none dung de xoa hieu ung vien cua button trong html*/
	height: 50px;
	width: 50px;
	border-radius: 50%;

}
form.search{
	float: right;
	
}
div.search-right{
	display: block;
	position: relative;
	width: auto;
	height: auto;
	float: right;
	text-decoration: none;

	font-weight: bold;
}
.fa-search{
	color: white;
	font-size: 20px;
	
}

ul{
	list-style: none;
}
input.search-text{

	/*z-index: 1;*/
	width: 200px;
	border: none;
	height: 50px;
	/*margin: 8px 0px;*/
	box-sizing: border-box;
	font-size: 12px;

}
input.search-text:after{
	/*background-color: #333;
	position: absolute;
	width: 20px;
	height: 20px;
	top:-20px;
	left: 90%;
	margin-left: -10px;
	margin-top: 15px;
	z-index: -1;
	/*margin left bang 1 nua chieu rong */
	content: ''; /*Can Them The Nay De xuat Hien*/
	transform: rotate(45deg);*/
	height: 50px;
	width: 50px;
	border:none;
	border-radius: 50%;
	background-color: #333;

}
#search-text-div{
	top:0px;
	display: none;
	right: 28px;
	position: absolute;
	width: 150px;
	height: 50px;
	animation-duration: 0.5s;
}
.btn-submit-search{
	display: block;
	position: relative;
	z-index: 2;
	border-radius: 50%;
	border: none;
	background-color: #6D6E6A;
	height: 50px;
	width: 50px;
}


div.navigation nav ul ul{
	display: none;
	background-color: #333333;

}

div.navigation nav ul li:hover > ul{
	display: block;
}

div.notification-right{
	float: right;
}
button.btn-submit-notify{
	border-radius: 50%;
	border: none;
	background-color: #6D6E6A;
	height: 50px;
	width: 50px;
}
#icon-notify{
	color: white;
	font-size: 20px;
}
/*End css navigation*/

.footer{
	height: 200px;
	width: 100%;
	background-color: #282923;
	color :white;
	box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.47);

}
.icon-footer{
	width: 100%;
	height: auto;

}
.icon-footer ul{
	margin: 0px;
	padding: 0px;text-align: center;

}

.icon-footer ul li {
	align-items: center;
}
.icon-footer ul li a{
	font-size: 30px;
	line-height: 50px;



}

#icon-footer-facebook{
	display:  inline-block;
	width: 50px;
	height: 50px;
	margin: 20px 10px;
	border-radius: 100%;
	background: white;
	border: 4px solid #6D6E6A;
}
#icon-footer-twitter{
	display:  inline-block;
	width: 50px;
	height: 50px;
	margin: 20px 10px;
	border-radius: 100%;
	background: white;
	border: 4px solid #6D6E6A;
}
#icon-footer-twitter{
	transition: 0.4s;
}
#icon-footer-twitter:hover{
	background:#1DA1F2;
}
#icon-footer-twitter:hover .fa-twitter{
	color: white;
}

#icon-footer-google{
	display:  inline-block;
	width: 50px;
	height: 50px;
	margin: 20px 10px;
	border-radius: 100%;
	background: white;
	border: 4px solid #6D6E6A;
}
#icon-footer-google{
	transition: 0.4s;
}
#icon-footer-google:hover{
	background: #EA4335;
}
#icon-footer-google:hover .fa-google{
	color: white;
}


#icon-footer-facebook{
	transition: 0.4s;
}
#icon-footer-facebook:hover{
	background: #4267B2;
}
#icon-footer-facebook:hover .fa-facebook{
	color: white;
}

.fa-facebook{
	color: #4267B2;
}
.fa-twitter{
	color: #1DA1F2;
}
.fa-google{
	color:#EA4335;
}
div.foot{
	margin-left: 20px;
	line-height: 20px;
}
.TinNoiBat{
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: white;
	width: 1110px;
	height:600px;
	margin-left:auto;
	margin-right: auto;
	box-shadow:  4px 4px 5px 2px rgba(50, 50, 50, 0.3);
	/*margin: auto;*/

}
.TinNoiBat p{
	font-weight: 700;
	font-size: 20px;
	color: #333;
	padding: 3px;
	line-height: 24px;
}
div.TinNoiBatDiv{
	width: 1110px;
	height: 510px;
}

article.TinNoiBat1{
	overflow: hidden; /*them de hinh ko bi chan ra ngoai*/
	margin-top: 5px;
	margin-left: 5px;
	float: left;
	/*background-image: url("images/hinh1.jpg");
	background-size: cover; /*lam cho hinh dan ra*/*/
	height: 500px;
	width: 750px;
	position: relative;
}
article.TinNoiBat1 a{
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	background: #64204F;
	text-decoration: none;
	color:white;
	z-index: 2;

}
article.TinNoiBat1 div{
	height: 75px;
	background-color: rgba(40, 41, 35,0.5);
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 0px;
}

article.TinNoiBat1 div p{
	
	color:white;
	font-size: 20px;
}
article.TinNoiBat1 div time{
	color:white;
	font-size: 15px;
}
article.TinNoiBat1 img{
	
	transition: transform 1.5s;
	height: 500px;
	width: 750px;

}
article.TinNoiBat1:hover img{
	transform: scale(1.2);
	cursor: pointer;
}
/*Tin Noi Bat thu 2*/
article.TinNoiBat2{
	margin-top: 5px;
	margin-left: 5px;
	float: left;
	background-size: cover; /*lam cho hinh dan ra*/
	height: 245px;
	width: 345px;
	position: relative;
	overflow: hidden; /*them de hinh ko bi chan ra ngoai*/
}
article.TinNoiBat2 a{
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	background: #1BA160;
	text-decoration: none;
	color:white;
	z-index: 2;

}
article.TinNoiBat2 div{
	background-color: rgba(40, 41, 35,0.5);
	position: absolute;
	bottom: 0px;
	left: 0px;
	margin: 0px;
}

article.TinNoiBat2 div p{
	
	color:white;
	font-size: 15px;
}
article.TinNoiBat2 div time{
	color:white;
	font-size: 10px;
}
article.TinNoiBat2 img{
	
	transition: transform 1.5s;
	height: 245px;
	width: 345px;

}
article.TinNoiBat2:hover img{
	transform: scale(1.1);
	cursor: pointer;
}

/*Tin Noi Bat Thu 3*/

article.TinNoiBat3{
	overflow: hidden; /*them de hinh ko bi chan ra ngoai*/
	margin-top: 5px;
	margin-left: 5px;
	float: left;
	background-size: cover; /*lam cho hinh dan ra*/
	height: 245px;
	width: 345px;
	position: relative;
}
article.TinNoiBat3 a{
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	background: #1BA160;
	text-decoration: none;
	color:white;
	z-index: 2;

}
article.TinNoiBat3 div{
	background-color: rgba(40, 41, 35,0.5);
	position: absolute;
	bottom: 0px;
	left: 0px;
	margin: 0px;
}

article.TinNoiBat3 div p{
	
	color:white;
	font-size: 15px;
}
article.TinNoiBat3 div time{
	color:white;
	font-size: 10px;
}
article.TinNoiBat3 img{
	
	transition: transform 1.5s;
	height: 245px;
	width: 345px;

}
article.TinNoiBat3:hover img{
	transform: scale(1.1);
	cursor: pointer;
}

/*Noi Dung Trang Web*/
.content-right{
	width: 1110px;
	height: auto;
	margin: auto;
	margin-bottom: 15px;
	background-color: white;
	box-shadow:  4px 4px 10px 2px rgba(50, 50, 50, 0.3);
}

.TinXemNhieuNhat{
	display: inline-block;
	width: 100%;
	margin-top: 30px;

}

.TinXemNhieuNhat a{
	text-decoration: none;
}
.TinXemNhieuNhat a:hover{
	
}
.TinXemNhieuNhat p{
	display: inline-block;
	font-size: 10px;
	font-weight:700;
	margin-bottom: 10px;
}
.TinXemNhieuNhat article{
	position: relative;
	margin: 4px;
	width: 250px;
	height: 275px;
	float: left;
	background-color: #fff;
	padding: 5px;
	box-shadow:  2px 2px 5px 1px rgba(50, 50, 50, 0.47);
}
.TinXemNhieuNhat article img{

	width: 250px;
	height: 150px;
}
.TinXemNhieuNhat p{
	font-weight: 700;
	font-size: 20px;
	color: #333;
	padding: 3px;
	line-height: 24px;
}
.TinXemNhieuNhat .SliderTinXemNhieuNhat{
	display: flex;
	justify-content: center;
}
.SliderTinXemNhieuNhat div{

}
.ThongTinGioDang {
	
}

.TopChuyenMuc{
	display: inline-block;
	width: 100%;
	margin-top: 30px;

}
.TopChuyenMuc a{
	text-decoration: none;
}
.TopChuyenMuc a:hover{
	
}
.TopChuyenMuc p{
	display: inline-block;
	font-size: 10px;
	font-weight:700;
	margin-bottom: 10px;
}
.TopChuyenMuc article{
	position: relative;
	margin: 4px;
	width: 250px;
	height: 275px;
	float: left;
	background-color: #fff;
	padding: 5px;
	box-shadow:  2px 2px 5px 1px rgba(50, 50, 50, 0.47);
}
.TopChuyenMuc article img{

	width: 250px;
	height: 150px;
}
.TopChuyenMuc p{
	font-weight: 700;
	font-size: 20px;
	color: #333;
	padding: 3px;
	line-height: 24px;
}
.TopChuyenMuc .SliderTinXemNhieuNhat{
	display: flex;
	justify-content: center;
}
.SliderTinXemNhieuNhat div{

}
.ThongTinGioDang {
	
}

.TinMoiNhatXaHoi{
	display: inline-block;
	width: 100%;
	margin-top: 30px;

}
.TinMoiNhatXaHoi i{
	margin-left: 10px;
}
.TinMoiNhatXaHoi a{
	text-decoration: none;
}

.TinMoiNhatXaHoi p{
	display: inline-block;
	font-size: 10px;
	font-weight:700;
	margin-bottom: 10px;
}
.TinMoiNhatXaHoi p:hover{
	color: #6ab04c;
}
.TinMoiNhatXaHoi article{
	position: relative;
	margin: 4px;
	width: 250px;
	height: 275px;
	float: left;
	background-color: #fff;
	padding: 5px;
	box-shadow:  2px 2px 5px 1px rgba(50, 50, 50, 0.47);
}
.ovrly{

	background: rgba(0, 0, 0,0.25);
	width: 250px;
	height: 150px;
	left: 5px;
	position: absolute;
	top: 5px;
	right: 5px;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.SliderTinXemNhieuNhat article img{
	position: relative;
	width: 250px;
	height: 150px;
}
.SliderTinXemNhieuNhat article:hover .ovrly {
	opacity: 1;
}
.TinMoiNhatXaHoi:hover .TenChuyenMuc{
	color:  #6ab04c;
}
.TinMoiNhatXaHoi:hover .fa-globe-americas{
	color:  #6ab04c;
}
.TinMoiNhatXaHoi p{
	font-weight: 700;
	font-size: 20px;
	color: #333;
	padding: 3px;
	line-height: 24px;
}
.TinMoiNhatXaHoi .SliderTinXemNhieuNhat{
	display: flex;
	justify-content: center;
}
.SliderTinXemNhieuNhat div{

}
.ThongTinGioDang {
	
}

/*Tin Moi Nhat Giai Tri*/

.TinMoiNhatGiaiTri{
	display: inline-block;
	width: 100%;
	margin-top: 30px;

}
.TinMoiNhatGiaiTri:hover #TieuDeChuyenMucGiaiTri p{
	color: #eb4d4b;
}
.TinMoiNhatGiaiTri:hover #TieuDeChuyenMucGiaiTri{
	color:#eb4d4b;
}
.TinMoiNhatGiaiTri a{
	text-decoration: none;
}
.TinMoiNhatGiaiTri a:hover{
	
}
.TinMoiNhatGiaiTri p{
	display: inline-block;
	font-size: 10px;
	font-weight:700;
	margin-bottom: 10px;
	font-size: 20px;
}
.TinMoiNhatGiaiTri article{
	position: relative;
	margin: 4px;
	width: 250px;
	height: 275px;
	float: left;
	background-color: #fff;
	padding: 5px;
	box-shadow:  2px 2px 5px 1px rgba(50, 50, 50, 0.47);
}
.TinMoiNhatGiaiTri article img{

	width: 250px;
	height: 150px;
}

.TinMoiNhatGiaiTri p:hover{
	color: #eb4d4b;
}
.TinMoiNhatGiaiTri .SliderTinXemNhieuNhat{
	display: flex;
	justify-content: center;
}

.TinMoiNhatCongNghe{
	display: inline-block;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;

}
.TinMoiNhatCongNghe:hover #TieuDeChuyenMucCongNghe p{
	color: #64204F;
}
.TinMoiNhatCongNghe:hover #TieuDeChuyenMucCongNghe{
	color: #64204F;
}
.IconChuyenMuc{
	margin-left: 10px;
}
.TinMoiNhatCongNghe a{
	text-decoration: none;
}
.TinMoiNhatCongNghe a:hover{

}
.TinMoiNhatCongNghe p{
	display: inline-block;
	font-size: 10px;
	font-weight:700;
	margin-bottom: 10px;
}
.TinMoiNhatCongNghe p:hover{
	color: #64204F;
}
.TinMoiNhatCongNghe article{
	position: relative;
	margin: 4px;
	width: 250px;
	height: 275px;
	float: left;
	background-color: #fff;
	padding: 5px;
	box-shadow:  2px 2px 5px 1px rgba(50, 50, 50, 0.47);
}
.TinMoiNhatCongNghe article img{

	width: 250px;
	height: 150px;
}
.TinMoiNhatCongNghe p{
	font-weight: 700;
	font-size: 20px;
	color: #333;
	padding: 3px;
	line-height: 24px;
}
.TinMoiNhatCongNghe .SliderTinXemNhieuNhat{
	display: flex;
	justify-content: center;
}

/*Tin Moi Nhat Suc Khoe*/
.TinMoiNhatSucKhoe{
	display: inline-block;
	width: 100%;
	margin-top: 30px;

}
.TinMoiNhatSucKhoe:hover #TieuDeChuyenMucSucKhoe p{
	color: #3498db;
}
.TinMoiNhatSucKhoe:hover #TieuDeChuyenMucSucKhoe{
	color:#3498db;
}

.TinMoiNhatSucKhoe a{
	text-decoration: none;
}

.TinMoiNhatSucKhoe p{
	display: inline-block;
	font-size: 10px;
	font-weight:700;
	margin-bottom: 10px;
}
.TinMoiNhatSucKhoe p:hover{
	color:#3498db;
}
.TinMoiNhatSucKhoe article{
	position: relative;
	margin: 4px;
	width: 250px;
	height: 275px;
	float: left;
	background-color: #fff;
	padding: 5px;
	box-shadow:  2px 2px 5px 1px rgba(50, 50, 50, 0.47);
}
.TinMoiNhatSucKhoe article img{

	width: 250px;
	height: 150px;
}
.TinMoiNhatSucKhoe p{
	font-weight: 700;
	font-size: 20px;
	color: #333;
	padding: 3px;
	line-height: 24px;
}
.TinMoiNhatSucKhoe .SliderTinXemNhieuNhat{
	display: flex;
	justify-content: center;
}

/*Tin Moi Nhat Tai Chinh*/
.TinMoiNhatTaiChinh{
	display: inline-block;
	width: 100%;
	margin-top: 30px;

}
.TinMoiNhatTaiChinh:hover #TieuDeChuyenMucTaiChinh p{
	color: #f9ca24;
}
.TinMoiNhatTaiChinh:hover #TieuDeChuyenMucTaiChinh{
	color: #f9ca24;
}

.TinMoiNhatTaiChinh a{
	text-decoration: none;
}

.TinMoiNhatTaiChinh p{
	display: inline-block;
	font-size: 10px;
	font-weight:700;
	margin-bottom: 10px;
}
.TinMoiNhatTaiChinh p:hover{
	color: #f9ca24;
}
.TinMoiNhatTaiChinh article{
	position: relative;
	margin: 4px;
	width: 250px;
	height: 275px;
	float: left;
	background-color: #fff;
	padding: 5px;
	box-shadow:  2px 2px 5px 1px rgba(50, 50, 50, 0.47);
}
.TinMoiNhatTaiChinh article img{

	width: 250px;
	height: 150px;
}
.TinMoiNhatTaiChinh p{
	font-weight: 700;
	font-size: 20px;
	color: #333;
	padding: 3px;
	line-height: 24px;
}
.TinMoiNhatTaiChinh .SliderTinXemNhieuNhat{
	display: flex;
	justify-content: center;
}

/*Button Back To Top*/
#back-to-top{
	display: none;
	position: fixed;
	bottom: 16px;
	right: 30px;
}
#back-to-top a{
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #228AE6;
	text-align: center;
	line-height: 40px;
}
#back-to-top a:hover{
	background-color:#165C99; 
}
#back-to-top .fa-arrow-up{
	font-size: 20px;
	color: white;
}
.SliderTinXemNhieuNhat .CongNgheColorTag{
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	background: #64204F;
	text-decoration: none;
	color:white;
	z-index: 2;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.48);
}
a.KinhTeColorTag{
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	background:  #f9ca24;
	text-decoration: none;
	color:white;
	z-index: 2;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.48);
}
a.XaHoiColorTag{
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	background: #6ab04c;
	text-decoration: none;
	color:white;
	z-index: 2;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.48);
}
a.GiaiTriColorTag{

	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	background:#eb4d4b;
	text-decoration: none;
	color:white;
	z-index: 2;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.48);
}
a.SucKhoeColorTag{

	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	background:#3498db;
	text-decoration: none;
	color:white;
	z-index: 2;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.48);
}
.btn-toggle-nav{
	display: none;
	position: absolute;
	left: 5px;
	top: 5px;
	border: none;
	height: 40px;
	width: 40px;
	background-color: rgba(0,0,0,0.2);
	border-radius: 5px;
}
.btn-toggle-nav i{
	font-size: 25px;
	color: white;
}
@media only screen and (max-width: 375px) {
	.btn-toggle-nav{
		display: block;
	}
	.content-right{
		width: 100%;
	}
	.nav-left{
		padding-top: 50px;
		display: none;
		width: 100%;
		height: auto;
		background-color: white;


	}
	.nav-left li{
		display: list-item;
		list-style: none;	
		margin: 5px;
		height: 50px;
		width: 100%;
		max-height: 100%;
	}
	.nav-left ul li ul li{
		margin: 5px;
		display: block;
		list-style: none;
	}
	.nav-left a{
		height: 30px;
		text-decoration: none;
		color: white;
	}
	.nav-left nav ul li{
		list-style: none;
		width: 100%;
		height: 50px;
	}

	.nav-left nav ul ul{
		display: none;
		background-color:#717F8D;

	}
	.nav-left nav ul li:hover  > ul{
		display:block;
	}
	li{
		list-style: none;
	}



}
@media only screen and (max-width:720px) {
	.content-right{
		width: 1110px;
	}

}