*{
	margin: 0;
	padding: 0;
}
body{
	background-color:lightblue;
	font-family: Arial, Helvetica, sans-serif;
}
.header{
	height: 50px;
	width: 100%;
	background-color: red;

}

.fa-clock{
	font-size: 17px;
}
.navigation{
	margin: 5px;
	height: 50px;
	width: 100%;
	background-color: #333333;
	box-shadow:  4px 4px 5px 1px rgba(50, 50, 50, 0.47);
}
.navigation li{
	background-color: #333333;
	float: left; 
	text-align: center;
	height: 50px;
	width: 130px; 
	line-height: 50px; /*dung de text o chinh giua*/
}
.navigation a{
	color: #f2f2f2;
	text-decoration: none;  
	font-weight: bold;
}
.navigation li:hover {
	background-color: #D94642;
	color: #FFFF;

}

.navigation li.active {
	background-color: #D94642;
	color: white;
}
.homepage a i{
	font-size: 17px;
	padding: 14px 16px;

}
div.search-right{
	display: block;
	
	width: 250px;
	float: right;
	text-decoration: none;

	font-weight: bold;
}
.fa-search{
	color: white;
	font-size: 20px;
	padding: 14px;
}
.btn-submit-search{
	background-color: #6D6E6A;
	height: 50px;
	width: 50px;
}
nav{
	
}
ul{
	list-style: none;
}
input.search-text{
	height: 30px;
	margin: 8px 0px;
	box-sizing: border-box;
	font-size: 12px;

}

div.navigation nav ul ul{
	display: none;
	background-color: #333333;

}

div.navigation nav ul li:hover > ul{
	display: block;
}
.footer{
	height: 200px;
	width: 100%;
	background-color: #282923;
	color:white;
	box-shadow: 4px 4px 5px 1px rgba(50, 50, 50, 0.47);

}
.icon-footer{
	width: 100%;
	height: auto;

}
.icon-footer ul{
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.icon-footer ul li{
	display:  inline-block;
	width: 50px;
	height:50px;
	margin: 20px 10px;
	border-radius: 100%;
	background: white;
}
.icon-footer ul li a{
	font-size: 30px;
	line-height: 50px;

}
.fa-facebook{
	color: #4267B2;
}
.fa-twitter{
	color: #1DA1F2;
}
.fa-google{
	color:#EA4335;
}
div.foot{
	margin-left: 20px;
	line-height: 20px;
}
.TinNoiBat{
	background-color: #80BEAF;
	width: 1100px;
	height: 500px;
	margin: auto;

}
div.TinNoiBatDiv{
	width: 1100px;
	height: 500px;
}

article.TinNoiBat1{

	float: left;
	background-image: url("images/hinh1.jpg");
	background-size: cover; /*lam cho hinh dan ra*/
	height: 500px;
	width: 750px;
	position: relative;
}
article.TinNoiBat1 a{
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	background: #64204F;
	text-decoration: none;
	color:white;

}
article.TinNoiBat1 div{
	background-color: rgba(40, 41, 35,0.5);
	position: absolute;
	bottom: 0px;
	left: 0px;
	margin: 0px;
}

article.TinNoiBat1 div p{
	
	color:white;
	font-size: 20px;
}
article.TinNoiBat1 div time{
	color:white;
	font-size: 15px;
}

/*Tin Noi Bat thu 2*/
article.TinNoiBat2{
	float: left;
	background-image: url("images/hinh2.jpg");
	background-size: cover; /*lam cho hinh dan ra*/
	height: 250px;
	width: 350px;
	position: relative;
}
article.TinNoiBat2 a{
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	background: #1BA160;
	text-decoration: none;
	color:white;

}
article.TinNoiBat2 div{
	background-color: rgba(40, 41, 35,0.5);
	position: absolute;
	bottom: 0px;
	left: 0px;
	margin: 0px;
}

article.TinNoiBat2 div p{
	
	color:white;
	font-size: 15px;
}
article.TinNoiBat2 div time{
	color:white;
	font-size: 10px;
}

/*Tin Noi Bat Thu 3*/

article.TinNoiBat3{
	float: left;
	background-image: url("images/hinh3.jpg");
	background-size: cover; /*lam cho hinh dan ra*/
	height: 250px;
	width: 350px;
	position: relative;
}
article.TinNoiBat3 a{
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	background: #1BA160;
	text-decoration: none;
	color:white;

}
article.TinNoiBat3 div{
	background-color: rgba(40, 41, 35,0.5);
	position: absolute;
	bottom: 0px;
	left: 0px;
	margin: 0px;
}

article.TinNoiBat3 div p{
	
	color:white;
	font-size: 15px;
}
article.TinNoiBat3 div time{
	color:white;
	font-size: 10px;
}