
*{
	margin: 0;
	padding: 0;
}
html{
	scroll-behavior: smooth;
}
body{
	/*background-color:lightblue;*/
	background-color: #F0F1F4;
	font-family: Arial, Helvetica, sans-serif;
}
.header{
	height: 100px;
	width: 100%;
	/*background-color: red;*/
	display: flex;
	justify-content: center;

}
#LogoWeb{
	margin: auto;
	height: 100px;
	width: 150px;
}

.fa-clock{
	font-size: 17px;
}
.fa-comment{
	font-size: 17px;
}
.navigation{
	position: relative;
	z-index: 10; 
	margin-bottom: 10px;
	/*margin: 5px;*/
	height: 50px;
	width: 100%;
	background-color: #333333;
	box-shadow:  4px 4px 5px 1px rgba(50, 50, 50, 0.47);
	
}
.navigation li{


	background-color: #333333;
	float: left; 
	text-align: center;
	height: 50px;
	width: 130px; 
	line-height: 50px; /*dung de text o chinh giua*/
}
.navigation a{
	color: #f2f2f2;
	text-decoration: none;  
	font-weight: bold;
}

.navigation li:hover {
	
	background-color: #D94642;
	color: #FFFF;

}

.navigation li.active {
	background-color: #D94642;
	color: white;
}
.homepage a i{
	font-size: 17px;
	padding: 14px 16px;

}
div.search-right{
	display: block;
	
	width: 250px;
	float: right;
	text-decoration: none;

	font-weight: bold;
}
.fa-search{
	color: white;
	font-size: 20px;
	padding: 14px;
}
.btn-submit-search{
	background-color: #6D6E6A;
	height: 50px;
	width: 50px;
}
nav{
	
}
ul{
	list-style: none;
}
input.search-text{
	height: 30px;
	margin: 8px 0px;
	box-sizing: border-box;
	font-size: 12px;

}

div.navigation nav ul ul{
	display: none;
	background-color: #333333;

}

div.navigation nav ul li:hover > ul{
	display: block;
}
.footer{
	height: 200px;
	width: 100%;
	background-color: #282923;
	color :white;
	box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.47);

}
.icon-footer{
	width: 100%;
	height: auto;

}
.icon-footer ul{
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.icon-footer ul li a{
	font-size: 30px;
	line-height: 50px;

}

#icon-footer-facebook{
	display:  inline-block;
	width: 50px;
	height: 50px;
	margin: 20px 10px;
	border-radius: 100%;
	background: white;
	border: 4px solid #6D6E6A;
}
#icon-footer-twitter{
	display:  inline-block;
	width: 50px;
	height: 50px;
	margin: 20px 10px;
	border-radius: 100%;
	background: white;
	border: 4px solid #6D6E6A;
}
#icon-footer-twitter{
	transition: 0.4s;
}
#icon-footer-twitter:hover{
	background:#1DA1F2;
}
#icon-footer-twitter:hover .fa-twitter{
	color: white;
}

#icon-footer-google{
	display:  inline-block;
	width: 50px;
	height: 50px;
	margin: 20px 10px;
	border-radius: 100%;
	background: white;
	border: 4px solid #6D6E6A;
}
#icon-footer-google{
	transition: 0.4s;
}
#icon-footer-google:hover{
	background: #EA4335;
}
#icon-footer-google:hover .fa-google{
	color: white;
}


#icon-footer-facebook{
	transition: 0.4s;
}
#icon-footer-facebook:hover{
	background: #4267B2;
}
#icon-footer-facebook:hover .fa-facebook{
	color: white;
}

.fa-facebook{
	color: #4267B2;
}
.fa-twitter{
	color: #1DA1F2;
}
.fa-google{
	color:#EA4335;
}
div.foot{
	margin-left: 20px;
	line-height: 20px;
}
.TinNoiBat{
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: white;
	width: 1110px;
	height:600px;
	margin-left:auto;
	margin-right: auto;
	box-shadow:  4px 4px 5px 2px rgba(50, 50, 50, 0.3);
	/*margin: auto;*/

}
.TinNoiBat p{
	font-weight: 700;
	font-size: 20px;
	color: #333;
	padding: 3px;
	line-height: 24px;
}
div.TinNoiBatDiv{
	width: 1110px;
	height: 510px;
}

article.TinNoiBat1{
	overflow: hidden; /*them de hinh ko bi chan ra ngoai*/
	margin-top: 5px;
	margin-left: 5px;
	float: left;
	/*background-image: url("images/hinh1.jpg");
	background-size: cover; /*lam cho hinh dan ra*/*/
	height: 500px;
	width: 750px;
	position: relative;
}
article.TinNoiBat1 a{
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	background: #64204F;
	text-decoration: none;
	color:white;
	z-index: 2;

}
article.TinNoiBat1 div{
	height: 75px;
	background-color: rgba(40, 41, 35,0.5);
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 0px;
}

article.TinNoiBat1 div p{
	
	color:white;
	font-size: 20px;
}
article.TinNoiBat1 div time{
	color:white;
	font-size: 15px;
}
article.TinNoiBat1 img{
	
	transition: transform 1.5s;
	height: 500px;
	width: 750px;

}
article.TinNoiBat1:hover img{
	transform: scale(1.2);
	cursor: pointer;
}
/*Tin Noi Bat thu 2*/
article.TinNoiBat2{
	margin-top: 5px;
	margin-left: 5px;
	float: left;
	background-size: cover; /*lam cho hinh dan ra*/
	height: 245px;
	width: 345px;
	position: relative;
	overflow: hidden; /*them de hinh ko bi chan ra ngoai*/
}
article.TinNoiBat2 a{
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	background: #1BA160;
	text-decoration: none;
	color:white;
	z-index: 2;

}
article.TinNoiBat2 div{
	background-color: rgba(40, 41, 35,0.5);
	position: absolute;
	bottom: 0px;
	left: 0px;
	margin: 0px;
}

article.TinNoiBat2 div p{
	
	color:white;
	font-size: 15px;
}
article.TinNoiBat2 div time{
	color:white;
	font-size: 10px;
}
article.TinNoiBat2 img{
	
	transition: transform 1.5s;
	height: 245px;
	width: 345px;

}
article.TinNoiBat2:hover img{
	transform: scale(1.1);
	cursor: pointer;
}

/*Tin Noi Bat Thu 3*/

article.TinNoiBat3{
	overflow: hidden; /*them de hinh ko bi chan ra ngoai*/
	margin-top: 5px;
	margin-left: 5px;
	float: left;
	background-size: cover; /*lam cho hinh dan ra*/
	height: 245px;
	width: 345px;
	position: relative;
}
article.TinNoiBat3 a{
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	background: #1BA160;
	text-decoration: none;
	color:white;
	z-index: 2;

}
article.TinNoiBat3 div{
	background-color: rgba(40, 41, 35,0.5);
	position: absolute;
	bottom: 0px;
	left: 0px;
	margin: 0px;
}

article.TinNoiBat3 div p{
	
	color:white;
	font-size: 15px;
}
article.TinNoiBat3 div time{
	color:white;
	font-size: 10px;
}
article.TinNoiBat3 img{
	
	transition: transform 1.5s;
	height: 245px;
	width: 345px;

}
article.TinNoiBat3:hover img{
	transform: scale(1.1);
	cursor: pointer;
}

/*Noi Dung Trang Web*/
.content-right{
	width: 1110px;
	height: auto;
	margin: auto;
	background-color: white;
	box-shadow:  4px 4px 5px 2px rgba(50, 50, 50, 0.3);
}

.TinXemNhieuNhat{
	display: inline-block;
	width: 100%;
	margin-top: 30px;

}
.TinXemNhieuNhat a{
	text-decoration: none;
}
.TinXemNhieuNhat a:hover{
	
}
.TinXemNhieuNhat p{
	display: inline-block;
	font-size: 10px;
	font-weight:700;
	margin-bottom: 10px;
}
.TinXemNhieuNhat article{
	margin: 4px;
	width: 250px;
	height: 275px;
	float: left;
	background-color: #fff;
	padding: 5px;
	box-shadow:  2px 2px 5px 1px rgba(50, 50, 50, 0.47);
}
.TinXemNhieuNhat article img{

	width: 250px;
	height: 150px;
}
.TinXemNhieuNhat p{
	font-weight: 700;
	font-size: 20px;
	color: #333;
	padding: 3px;
	line-height: 24px;
}
.TinXemNhieuNhat .SliderTinXemNhieuNhat{
	display: flex;
	justify-content: center;
}
.SliderTinXemNhieuNhat div{

}
.ThongTinGioDang {
	
}

.TopChuyenMuc{
	display: inline-block;
	width: 100%;
	margin-top: 30px;

}
.TopChuyenMuc a{
	text-decoration: none;
}
.TopChuyenMuc a:hover{
	
}
.TopChuyenMuc p{
	display: inline-block;
	font-size: 10px;
	font-weight:700;
	margin-bottom: 10px;
}
.TopChuyenMuc article{
	position: relative;
	margin: 4px;
	width: 250px;
	height: 275px;
	float: left;
	background-color: #fff;
	padding: 5px;
	box-shadow:  2px 2px 5px 1px rgba(50, 50, 50, 0.47);
}
.TopChuyenMuc article img{

	width: 250px;
	height: 150px;
}
.TopChuyenMuc p{
	font-weight: 700;
	font-size: 20px;
	color: #333;
	padding: 3px;
	line-height: 24px;
}
.TopChuyenMuc .SliderTinXemNhieuNhat{
	display: flex;
	justify-content: center;
}
.SliderTinXemNhieuNhat div{

}
.ThongTinGioDang {
	
}

.TinMoiNhatXaHoi{
	display: inline-block;
	width: 100%;
	margin-top: 30px;

}
.TinMoiNhatXaHoi a{
	text-decoration: none;
}
.TinMoiNhatXaHoi a:hover{
	
}
.TinMoiNhatXaHoi p{
	display: inline-block;
	font-size: 10px;
	font-weight:700;
	margin-bottom: 10px;
}
.TinMoiNhatXaHoi article{
	position: relative;
	margin: 4px;
	width: 250px;
	height: 275px;
	float: left;
	background-color: #fff;
	padding: 5px;
	box-shadow:  2px 2px 5px 1px rgba(50, 50, 50, 0.47);
}
.TinMoiNhatXaHoi article img{

	width: 250px;
	height: 150px;
}
.TinMoiNhatXaHoi p{
	font-weight: 700;
	font-size: 20px;
	color: #333;
	padding: 3px;
	line-height: 24px;
}
.TinMoiNhatXaHoi .SliderTinXemNhieuNhat{
	display: flex;
	justify-content: center;
}
.TinMoiNhatXaHoi.SliderTinXemNhieuNhat{
	display: flex;
	justify-content: center;
}
.SliderTinXemNhieuNhat div{

}
.ThongTinGioDang {
	
}

/*Button Back To Top*/
#back-to-top{
	display: block;
	position: fixed;
	bottom: 16px;
	right: 30px;
}
#back-to-top a{
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #228AE6;
	text-align: center;
	line-height: 40px;
}
#back-to-top a:hover{
	background-color:#165C99; 
}
#back-to-top .fa-arrow-up{
	font-size: 20px;
	color: white;
}
.SliderTinXemNhieuNhat .CongNgheColorTag{
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	background: #64204F;
	text-decoration: none;
	color:white;
	z-index: 2;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.48);
}
a.KinhTeColorTag{
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	background:  #f9ca24;
	text-decoration: none;
	color:white;
	z-index: 2;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.48);
}
a.XaHoiColorTag{
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	background: #6ab04c;
	text-decoration: none;
	color:white;
	z-index: 2;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.48);
}
a.GiaiTriColorTag{
	
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	background:#eb4d4b;
	text-decoration: none;
	color:white;
	z-index: 2;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.48);
}