<!DOCTYPE html>
<!-- Tin Noi Bat -->
<div class="TinNoiBat">

	<p>Tin Nổi Bật</p>
	<div class="TinNoiBatDiv"> 
		<article class="TinNoiBat1">
			<a href="#" class="post-cat ts-orange-bg">Công Nghệ</a>
			<img src="/images/CongNghe/hinh15/1.jpg" alt="">
			<div>
				<p>
					Khám phá các tính năng vui vẻ, tiện ích của ColorOS 6 trên Realme 3
				</p>
				<time>
					<i class="fa fa-clock"></i>
					21/04/2019 22:02:12    &emsp;
					<i class="far fa-comment"></i>
					<span>0</span>
				</time>
			</div>
		</article>
		<article  class="TinNoiBat2">
			<a href="#" class="post-cat ts-orange-bg">Đời sống</a>
			<img src="/images/CongNghe/hinh16.jpg" alt="">
			<div>
				<p>
					Mã giảm giá giúp mua Windows 10 bản quyền chỉ với 270.000đ, rẻ hơn hàng chục lần so với mua trực tiếp
				</p>
				<time>
					<i class="fa fa-clock"></i>
					21/04/2019 22:02:12
					&emsp;
					<i class="far fa-comment"></i>
					<span>0</span>
				</time>
			</div>
		</article>
		<article  class="TinNoiBat3">
			<a href="#" class="post-cat ts-orange-bg">Đời sống</a>
			<img src="/images/CongNghe/hinh17.jpg" alt="">
			<div>
				<p>
					Galaxy Fold giá lên đến 46 triệu đồng nhưng vẫn "cháy hàng" đến mức khó tin
				</p>
				<time>
					<i class="fa fa-clock"></i>
					21/04/2019 22:02:12&emsp;
					<i class="far fa-comment"></i>
					<span>0</span>

				</time>
			</div>

		</article>
	</div>			

</div>
<!-- Noi Dung Chinh -->
<div class="content-right">

</div>
<!-- Noi Dung Chinh -->
<div class="content-right">


	<div class="TinXemNhieuNhat">
		<p> Tin Xem Nhiều Nhất</p><br>
		<div class="SliderTinXemNhieuNhat">
			<article>
				<a href="#">
					<img src="images/CongNghe/hinh18.jpg">
					<div class="ovrly"></div>
				</a>
				<a href="#">
					<div >
						<p>Huawei giới thiệu phần cứng 5G đầu tiên trên thế giới cho xe hơi
						</p>
						<time class="ThongTinGioDang">
							<i class="fa fa-clock"></i>
							1 giờ trước   &emsp;
							<i class="far fa-comment"></i>
							<span>0 &emsp;</span>
							<i class="fas fa-eye"></i>
							<span>12161</span>
						</time>
					</div>

				</a>

			</article>

			<article>
				<a href="#">
					<img src="images/CongNghe/hinh19.jpg">
					<div class="ovrly"></div>
				</a>
				<a href="#">
					<div>
						<p>Apple sẽ phát hành iPhone 5G vào năm 2020
						</p>
						<time>
							<i class="fa fa-clock"></i>
							1 giờ trước   &emsp;
							<i class="far fa-comment"></i>
							<span>0 &emsp;</span>
							<i class="fas fa-eye"></i>
							<span>22241</span>
						</time>
					</div>
				</a>

			</article>

			<article>
				<a href="#">
					<img src="images/CongNghe/hinh20.jpg">
					<div class="ovrly"></div>
				</a>
				<a href="#">
					<div>
						<p>Hệ thống máy ảnh iPhone 2019 có gì mới?
						</p>
						<time>
							<i class="fa fa-clock"></i>
							1 giờ trước   &emsp;
							<i class="far fa-comment"></i>
							<span>0 &emsp;</span>
							<i class="fas fa-eye"></i>
							<span>4252</span>
						</time>
					</div>
				</a>

			</article>

			<article>
				<a href="#">
					<img src="images\CongNghe\hinh5\hinh7.jpg">
					<div class="ovrly"></div>
				</a>
				<a href="#">
					<div>
						<p>Singapore nỗ lực thu hút các hãng xe điện
						</p>
						<time>
							<i class="fa fa-clock"></i>
							1 giờ trước   &emsp;
							<i class="far fa-comment"></i>
							<span>0</span>
						</time>
					</div>
				</a>

			</article>

		</div>

	</div>
	<div class="TopChuyenMuc">
		<p> Top Tin Chuyên Mục</p><br>
		<div class="SliderTinXemNhieuNhat">
			<article>
				<a href="#" class="CongNgheColorTag">Công nghệ</a>
				<a href="#">
					<img src="images/CongNghe/hinh1.jpg">
					<div class="ovrly"></div>
				</a>
				<a href="#">
					<div >
						<p>Huawei giới thiệu phần cứng 5G đầu tiên trên thế giới cho xe hơi
						</p>
						<time class="ThongTinGioDang">
							<i class="fa fa-clock"></i>
							1 giờ trước   &emsp;
							<i class="far fa-comment"></i>
							<span>0</span>
						</time>
					</div>
				</a>

			</article>

			<article>
				<a href="#" class="KinhTeColorTag">Kinh tế</a>
				<a href="#">
					<img src="images/Xahoi/hinh6.jpg">
					<div class="ovrly"></div>
				</a>
				<a href="#">
					<div>
						<p>Giá điện lũy kế tăng gần 75%?
						</p>
						<time>
							<i class="fa fa-clock"></i>
							1 giờ trước   &emsp;
							<i class="far fa-comment"></i>
							<span>0</span>
						</time>
					</div>
				</a>

			</article>

			<article>
				<a href="#" class="XaHoiColorTag">Xã Hội</a>
				<a href="#">
					<a href="#">
						<img src="images/XaHoi/hinh5.jpg">
						<div class="ovrly"></div>
					</a>
					<a href="#">
						<div>
							<p>Tổng bí thư, Chủ tịch nước làm trưởng ban lễ tang Đại tướng Lê Đức Anh
							</p>
							<time>
								<i class="fa fa-clock"></i>
								1 giờ trước   &emsp;
								<i class="far fa-comment"></i>
								<span>0</span>
							</time>
						</div>
					</a>

				</article>

				<article>
					<a href="#" class="GiaiTriColorTag">Giải trí</a>
					<a href="#">
						<img src="images/GiaiTri/hinh3.jpg">
						<div class="ovrly"></div>
					</a>
					<a href="#">
						<div>
							<p>'Avengers: Endgame' thu hơn 30 tỉ đồng ngày đầu chiếu ở Việt Nam
							</p>
							<time>
								<i class="fa fa-clock"></i>
								1 giờ trước   &emsp;
								<i class="far fa-comment"></i>
								<span>0</span>
							</time>
						</div>
					</a>

				</article>

			</div>

		</div>
		<div class="TinMoiNhat">
			<!-- 	Tin Moi Nhat Cua Xa Hoi -->
			<div class="TinMoiNhatXaHoi">
				
				<h4 class="TenChuyenMuc position-relative">
					<i class="fas fa-globe-americas"></i>
					Tin Xã Hội
					<span class="pull-right">
						<a  href="#carouselExampleInterval" role="button" data-slide="prev">
							<i class="fas fa-chevron-circle-left"></i>
						</a>
						<a  href="#carouselExampleInterval" role="button" data-slide="next">
							<i class="fas fa-chevron-circle-right"></i>
						</a>
						
					</span>

				</h4>

				<div id="XaHoiNews" class="SliderTinXemNhieuNhat">

					<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
							<div class="carousel-item active" data-interval="10000">
								<article>
									<a href="#">
										<img src="images/XaHoi/hinh1.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div >
											<p>Tín dụng đen sẽ bị CA Đà Nẵng trấn áp đến 'không còn bóng dáng'
											</p>
											<time class="ThongTinGioDang">
												<i class="fa fa-clock"></i>
												3 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>2</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/XaHoi/hinh2.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Thủ tướng: Việt Nam ngày càng tự tin, chủ động trong hội nhập
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/Xahoi/hinh3.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Khốn đốn vì bị lừa xuất khẩu lao động sang Úc
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/XaHoi/hinh4.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Việt Nam đăng cai Phiên họp Đại Hội đồng thể thao quân sự quốc tế
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>
							</div>
							<div class="carousel-item" data-interval="10000">
								<article>
									<a href="#">
										<img src="images/XaHoi/hinh1.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div >
											<p>Tín dụng đen sẽ bị CA Đà Nẵng trấn áp đến 'không còn bóng dáng'
											</p>
											<time class="ThongTinGioDang">
												<i class="fa fa-clock"></i>
												3 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>2</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/XaHoi/hinh2.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Thủ tướng: Việt Nam ngày càng tự tin, chủ động trong hội nhập
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/Xahoi/hinh3.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Khốn đốn vì bị lừa xuất khẩu lao động sang Úc
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/XaHoi/hinh4.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Việt Nam đăng cai Phiên họp Đại Hội đồng thể thao quân sự quốc tế
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>
							</div>
							<div class="carousel-item" data-interval="10000">
								<article>
									<a href="#">
										<img src="images/XaHoi/hinh1.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div >
											<p>Tín dụng đen sẽ bị CA Đà Nẵng trấn áp đến 'không còn bóng dáng'
											</p>
											<time class="ThongTinGioDang">
												<i class="fa fa-clock"></i>
												3 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>2</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/XaHoi/hinh2.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Thủ tướng: Việt Nam ngày càng tự tin, chủ động trong hội nhập
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>
								<article>
									<a href="#">
										<img src="images/XaHoi/hinh1.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div >
											<p>Tín dụng đen sẽ bị CA Đà Nẵng trấn áp đến 'không còn bóng dáng'
											</p>
											<time class="ThongTinGioDang">
												<i class="fa fa-clock"></i>
												3 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>2</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/XaHoi/hinh2.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Thủ tướng: Việt Nam ngày càng tự tin, chủ động trong hội nhập
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>
							</div>
						</div>
						
					</div>

				</div>
			</div>
			<!-- 	Tin Moi Nhat Giai Tri -->
			<div class="TinMoiNhatGiaiTri">
				<div class="IconChuyenMuc" id="TieuDeChuyenMucGiaiTri">
					
					<h4 class="TenChuyenMuc position-relative"> <i class="fas fa-users"></i>Tin Giải trí
						<span class="pull-right">
							<a  href="#carouselTopGiaiTri" role="button" data-slide="prev">
								<i class="fas fa-chevron-circle-left"></i>
							</a>
							<a  href="#carouselTopGiaiTri" role="button" data-slide="next">
								<i class="fas fa-chevron-circle-right"></i>
							</a>

						</span>
					</h4>
					
				</div>

				<div class="SliderTinXemNhieuNhat">
					<div id="carouselTopGiaiTri" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
							<div class="carousel-item active" data-interval="10000">
								<article>
									<a href="#">
										<img src="images/GiaiTri/hinh1.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div >
											<p>3 cô gái Black Pink thua người đẹp Philippines trong cuộc đua nhan sắc
											</p>
											<time class="ThongTinGioDang">
												<i class="fa fa-clock"></i>
												3 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>2</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/GiaiTri/hinh2.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Taylor Swift và dàn sao lộng lẫy trên thảm đỏ Time 100
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/GiaiTri/hinh3.jpg">
									</a>
									<a href="#">
										<div>
											<p>Khán giả hãy xem lại Civil War, Infinity War trước Avengers: Endgame
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/GiaiTri/hinh4.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Diễn viên Thanh Trúc lên tiếng trước tin đã sinh con, làm mẹ đơn thân
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>
							</div>

							<div class="carousel-item" data-interval="10000">
								<article>
									<a href="#">
										<img src="images/GiaiTri/hinh1.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div >
											<p>3 cô gái Black Pink thua người đẹp Philippines trong cuộc đua nhan sắc
											</p>
											<time class="ThongTinGioDang">
												<i class="fa fa-clock"></i>
												3 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>2</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/GiaiTri/hinh2.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Taylor Swift và dàn sao lộng lẫy trên thảm đỏ Time 100
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/GiaiTri/hinh3.jpg">
									</a>
									<a href="#">
										<div>
											<p>Khán giả hãy xem lại Civil War, Infinity War trước Avengers: Endgame
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/GiaiTri/hinh4.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Diễn viên Thanh Trúc lên tiếng trước tin đã sinh con, làm mẹ đơn thân
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>
							</div>

							<div class="carousel-item" data-interval="10000">
								<article>
									<a href="#">
										<img src="images/GiaiTri/hinh1.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div >
											<p>3 cô gái Black Pink thua người đẹp Philippines trong cuộc đua nhan sắc
											</p>
											<time class="ThongTinGioDang">
												<i class="fa fa-clock"></i>
												3 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>2</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/GiaiTri/hinh2.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Taylor Swift và dàn sao lộng lẫy trên thảm đỏ Time 100
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/GiaiTri/hinh3.jpg">
									</a>
									<a href="#">
										<div>
											<p>Khán giả hãy xem lại Civil War, Infinity War trước Avengers: Endgame
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/GiaiTri/hinh4.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Diễn viên Thanh Trúc lên tiếng trước tin đã sinh con, làm mẹ đơn thân
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>
							</div>
						</div>
					</div>
					

				</div>
			</div>

			<!-- 	Tin Moi Nhat Suc Khoe -->
			<div class="TinMoiNhatSucKhoe">
				<div class="IconChuyenMuc" id="TieuDeChuyenMucSucKhoe">

					<h4 class="TenChuyenMuc position-relative"> <i class="fas fa-stethoscope"></i>Tin Sức Khoẻ
						<span class="pull-right">
							<a  href="#carouselTopSucKhoe" role="button" data-slide="prev">
								<i class="fas fa-chevron-circle-left"></i>
							</a>
							<a  href="#carouselTopSucKhoe" role="button" data-slide="next">
								<i class="fas fa-chevron-circle-right"></i>
							</a>

						</span>
					</h4>
				</div>			
				<div class="SliderTinXemNhieuNhat">

					<div id="carouselTopSucKhoe" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
							<div class="carousel-item active" data-interval="10000">
								<article>
									<a href="#">
										<img src="images/SucKhoe/hinh1.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div >
											<p>9 vấn đề sức khỏe có thể xảy ra khi nắng nóng 40 độ C
											</p>
											<time class="ThongTinGioDang">
												<i class="fa fa-clock"></i>
												3 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>2</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/SucKhoe/hinh2.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p> 9 thời điểm bạn tuyệt đối không nên tắm
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/SucKhoe/hinh3.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Càng béo hút mỡ càng nguy hiểm
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/SucKhoe/hinh4.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Nhiệt độ cao có làm chỉ số tia UV vượt ngưỡng?
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

							</div>
							<div class="carousel-item " data-interval="10000">
								<article>
									<a href="#">
										<img src="images/SucKhoe/hinh1.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div >
											<p>9 vấn đề sức khỏe có thể xảy ra khi nắng nóng 40 độ C
											</p>
											<time class="ThongTinGioDang">
												<i class="fa fa-clock"></i>
												3 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>2</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/SucKhoe/hinh2.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p> 9 thời điểm bạn tuyệt đối không nên tắm
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/SucKhoe/hinh3.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Càng béo hút mỡ càng nguy hiểm
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/SucKhoe/hinh4.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Nhiệt độ cao có làm chỉ số tia UV vượt ngưỡng?
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

							</div>
							<div class="carousel-item" data-interval="10000">
								<article>
									<a href="#">
										<img src="images/SucKhoe/hinh1.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div >
											<p>9 vấn đề sức khỏe có thể xảy ra khi nắng nóng 40 độ C
											</p>
											<time class="ThongTinGioDang">
												<i class="fa fa-clock"></i>
												3 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>2</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/SucKhoe/hinh2.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p> 9 thời điểm bạn tuyệt đối không nên tắm
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/SucKhoe/hinh3.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Càng béo hút mỡ càng nguy hiểm
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/SucKhoe/hinh4.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Nhiệt độ cao có làm chỉ số tia UV vượt ngưỡng?
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

							</div>

						</div>
					</div>

					
				</div>
			</div>
			<!-- Tin Tai Chinh -->
			<div class="TinMoiNhatTaiChinh">
				<div class="IconChuyenMuc" id="TieuDeChuyenMucTaiChinh">
					<h4 class="TenChuyenMuc position-relative"> <i class="fas fa-chart-line"></i>Tin Kinh Doanh
						<span class="pull-right">
							<a  href="#carouselTopKinhDoanh" role="button" data-slide="prev">
								<i class="fas fa-chevron-circle-left"></i>
							</a>
							<a  href="#carouselTopKinhDoanh" role="button" data-slide="next">
								<i class="fas fa-chevron-circle-right"></i>
							</a>

						</span>
					</h4>
				</div>
				<div class="SliderTinXemNhieuNhat">
					<div id="carouselTopKinhDoanh" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
							<div class="carousel-item active" data-interval="10000">
								<article>
									<a href="#">
										<img src="images/KinhDoanh/hinh1.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div >
											<p>HDBank hưởng lợi gì từ hệ sinh thái đặc quyền?
											</p>
											<time class="ThongTinGioDang">
												<i class="fa fa-clock"></i>
												3 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>2</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/KinhDoanh/hinh2.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Mua công ty tài chính, sếp TPBank muốn tránh vết xe đổ của đối thủ
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/KinhDoanh/hinh3.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Gửi tiết kiệm tại ngân hàng nào lãi cao nhất hiện nay?
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/KinhDoanh/hinh4.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Bao nhiêu startup đã nhận được tiền từ Shark Tank?
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>
							</div>
							<div class="carousel-item " data-interval="10000">
								<article>
									<a href="#">
										<img src="images/KinhDoanh/hinh1.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div >
											<p>HDBank hưởng lợi gì từ hệ sinh thái đặc quyền?
											</p>
											<time class="ThongTinGioDang">
												<i class="fa fa-clock"></i>
												3 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>2</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/KinhDoanh/hinh2.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Mua công ty tài chính, sếp TPBank muốn tránh vết xe đổ của đối thủ
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/KinhDoanh/hinh3.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Gửi tiết kiệm tại ngân hàng nào lãi cao nhất hiện nay?
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/KinhDoanh/hinh4.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Bao nhiêu startup đã nhận được tiền từ Shark Tank?
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>
							</div>
							<div class="carousel-item " data-interval="10000">
								<article>
									<a href="#">
										<img src="images/KinhDoanh/hinh1.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div >
											<p>HDBank hưởng lợi gì từ hệ sinh thái đặc quyền?
											</p>
											<time class="ThongTinGioDang">
												<i class="fa fa-clock"></i>
												3 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>2</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/KinhDoanh/hinh2.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Mua công ty tài chính, sếp TPBank muốn tránh vết xe đổ của đối thủ
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/KinhDoanh/hinh3.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Gửi tiết kiệm tại ngân hàng nào lãi cao nhất hiện nay?
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/KinhDoanh/hinh4.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Bao nhiêu startup đã nhận được tiền từ Shark Tank?
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>
							</div>
						</div>


					</div>
					

				</div>
			</div>

			<!-- Tin Cong Nghe -->

			<div class="TinMoiNhatCongNghe">
				<div class="IconChuyenMuc" id="TieuDeChuyenMucCongNghe">

					<h4 class="TenChuyenMuc position-relative"> <i class="fas fa-desktop"></i>Tin Công Nghệ
						<span class="pull-right">
							<a  href="#carouselTopCongNghe" role="button" data-slide="prev">
								<i class="fas fa-chevron-circle-left"></i>
							</a>
							<a  href="#carouselTopCongNghe" role="button" data-slide="next">
								<i class="fas fa-chevron-circle-right"></i>
							</a>

						</span>
					</h4>
				</div>

				<div class="SliderTinXemNhieuNhat">
					<div id="carouselTopCongNghe" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
							<div class="carousel-item active" data-interval="10000">
								<article>
									<a href="#">
										<img src="images/CongNghe/hinh1.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div >
											<p>LG ngừng sản xuất điện thoại ở Hàn Quốc, chuyển sang Việt Nam
											</p>
											<time class="ThongTinGioDang">
												<i class="fa fa-clock"></i>
												3 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>2</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/CongNghe/hinh2.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Làm iPhone quá tốt, Apple đang tự đấu với chính mình
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/CongNghe/hinh3.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Facebook sắp nhận án phạt hàng tỷ USD, kỷ lục giới công nghệ
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/CongNghe/hinh4.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Việt Nam là một trong 5 'mỏ vàng' của YouTube
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

							</div>
							<div class="carousel-item" data-interval="10000">
								<article>
									<a href="#">
										<img src="images/CongNghe/hinh1.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div >
											<p>LG ngừng sản xuất điện thoại ở Hàn Quốc, chuyển sang Việt Nam
											</p>
											<time class="ThongTinGioDang">
												<i class="fa fa-clock"></i>
												3 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>2</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/CongNghe/hinh2.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Làm iPhone quá tốt, Apple đang tự đấu với chính mình
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/CongNghe/hinh3.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Facebook sắp nhận án phạt hàng tỷ USD, kỷ lục giới công nghệ
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/CongNghe/hinh4.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Việt Nam là một trong 5 'mỏ vàng' của YouTube
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

							</div>
							<div class="carousel-item" data-interval="10000">
								<article>
									<a href="#">
										<img src="images/CongNghe/hinh1.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div >
											<p>LG ngừng sản xuất điện thoại ở Hàn Quốc, chuyển sang Việt Nam
											</p>
											<time class="ThongTinGioDang">
												<i class="fa fa-clock"></i>
												3 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>2</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/CongNghe/hinh2.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Làm iPhone quá tốt, Apple đang tự đấu với chính mình
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/CongNghe/hinh3.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Facebook sắp nhận án phạt hàng tỷ USD, kỷ lục giới công nghệ
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/CongNghe/hinh4.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Việt Nam là một trong 5 'mỏ vàng' của YouTube
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- 	Tin Moi Nhat Cua Giai tri -->


	</div>
</div>
</div>