<!DOCTYPE html>

<!-- Tin Noi Bat -->
<div class="TinNoiBat">

<html lang="en" dir="ltr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
	<title>DoAnCuoiKi</title>
	<link rel="stylesheet" type="text/css" href="DoAnWeb.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script type="text/javascript" src="DoAnWeb.js"></script>
	<!-- 	bootstrap -->
	

</head>
<body class="body-color">
	<div class="">
		<div class="header">
			<img src="images/logo.png" id="LogoWeb">	
			<div>
				<i class="far fa-clock"></i>
				thứ 6,19 tháng 4 năm 2019
			</div>
		</div>

		<div class="navigation">
			<button class="	btn-toggle-nav">
				<i class="fas fa-bars"></i>
			</button>
			<div class="nav-left">

				<nav>
					<ul>
						<li class="homepage" title="Trang chủ">
							<a href="#">
								<i class="fas fa-home"></i>
							</a>
						</li>
						<li>
							<a class="active" href="#XaHoi">Xã Hội</a>
							<ul>
								<li >
									<a href="#ThoiSu">Thời sự</a>
								</li>
								<li>
									<a href="#PhapLuat">Pháp luật</a>
								</li>

							</ul>
						</li>
						<li>
							<a href="#GiaiTri">Giải trí</a>
							<ul>
								<li>
									<a href="#NgoiSao">Ngôi sao</a>
								</li>
								<li>
									<a href="#DienAnh">Điện ảnh</a>
								</li>
								<li>
									<a href="#AmNhac">Âm nhạc</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#SucKhoe">Sức khỏe</a>
						</li>
						<li>
							<a href="#KinhDoanh">Kinh doanh</a>
							<ul>
								<li>
									<a href="#NongSan">Nông sản</a>
								</li>
								<li>
									<a href="#HaiSan">Hải sản</a>
								</li>

							</ul>

						</li>
						<li>
							<a href="#CongNghe">Công nghệ</a>
							<ul>
								<li>
									<a href="#Game">Game</a>
								</li>
								<li>
									<a href="#ThietBi">Thiết bị</a>
								</li>

							</ul>
						</li>
					</ul>
				</nav>
			</div>
			
			<div class="nav-right">
				<div class="user-right">
					<button class="btn-nav btn-sumnit-user">
						<i id="icon-user" class="far fa-user"></i>
					</button>
					<div class="NavbarUser">
						
						<a href="#">
							<i class="fas fa-user-plus"></i>
							&ensp;Sign up
						</a><br>

						
						<a href="#">
							<i class="fas fa-sign-in-alt"></i>&ensp;Login
						</a><br>
						
						<a href="#">
							<i class="fas fa-sign-out-alt"></i>&ensp;Logout</a><br>
						</div>
					</div>
					<div class=" notification-right">
						<button class="btn-nav btn-submit-notify">
							<i id="icon-notify"class="fas fa-bell"></i>
						</button>				

					</div>	
					<div class="search-right">
						<button class="btn-nav btn-submit-search">
							<i " class="fas fa-search"></i>
						</button>	
						<div  id="search-text-div">
							<form class="search" method="get">
								<input type="text" class="search-text" id="search-nav-textbox" value="Search..." />

							</form>
						</div>
						
					</div>	
				</div>

			</div>

			<!-- Tin Noi Bat -->
			<div class="TinNoiBat">

				<p>Tin Nổi Bật</p>
				<div class="TinNoiBatDiv"> 
					<article class="TinNoiBat1">
						<a href="#" class="post-cat ts-orange-bg">Công Nghệ</a>
						<img src="images/hinh1.jpg" alt="">
						<div>
							<p>
								Khám phá các tính năng vui vẻ, tiện ích của ColorOS 6 trên Realme 3
							</p>
							<time>
								<i class="fa fa-clock"></i>
								21/04/2019 22:02:12    &emsp;
								<i class="far fa-comment"></i>
								<span>0</span>
							</time>
						</div>
					</article>
					<article  class="TinNoiBat2">
						<a href="#" class="post-cat ts-orange-bg">Đời sống</a>
						<img src="images/hinh2.jpg" alt="">
						<div>
							<p>
								Mã giảm giá giúp mua Windows 10 bản quyền chỉ với 270.000đ, rẻ hơn hàng chục lần so với mua trực tiếp
							</p>
							<time>
								<i class="fa fa-clock"></i>
								21/04/2019 22:02:12
								&emsp;
								<i class="far fa-comment"></i>
								<span>0</span>
							</time>
						</div>
					</article>
					<article  class="TinNoiBat3">
						<a href="#" class="post-cat ts-orange-bg">Đời sống</a>
						<img src="images/hinh3.jpg" alt="">
						<div>
							<p>
								Galaxy Fold giá lên đến 46 triệu đồng nhưng vẫn "cháy hàng" đến mức khó tin
							</p>
							<time>
								<i class="fa fa-clock"></i>
								21/04/2019 22:02:12&emsp;
								<i class="far fa-comment"></i>
								<span>0</span>

							</time>
						</div>

					</article>
				</div>			

</div>
<!-- Noi Dung Chinh -->
<div class="content-right">

			</div>
			<!-- Noi Dung Chinh -->
			<div class="content-right">


				<div class="TinXemNhieuNhat">
					<p> Tin Xem Nhiều Nhất</p><br>
					<div class="SliderTinXemNhieuNhat">
						<article>
							<a href="#">
								<img src="images/hinh4.jpg">
								<div class="ovrly"></div>
							</a>
							<a href="#">
								<div >
									<p>Huawei giới thiệu phần cứng 5G đầu tiên trên thế giới cho xe hơi
									</p>
									<time class="ThongTinGioDang">
										<i class="fa fa-clock"></i>
										1 giờ trước   &emsp;
										<i class="far fa-comment"></i>
										<span>0 &emsp;</span>
										<i class="fas fa-eye"></i>
										<span>12161</span>
									</time>
								</div>

							</a>

						</article>

						<article>
							<a href="#">
								<img src="images/hinh5.jpg">
								<div class="ovrly"></div>
							</a>
							<a href="#">
								<div>
									<p>Apple sẽ phát hành iPhone 5G vào năm 2020
									</p>
									<time>
										<i class="fa fa-clock"></i>
										1 giờ trước   &emsp;
										<i class="far fa-comment"></i>
										<span>0 &emsp;</span>
										<i class="fas fa-eye"></i>
										<span>22241</span>
									</time>
								</div>
							</a>

						</article>

						<article>
							<a href="#">
								<img src="images/hinh6.jpg">
								<div class="ovrly"></div>
							</a>
							<a href="#">
								<div>
									<p>Hệ thống máy ảnh iPhone 2019 có gì mới?
									</p>
									<time>
										<i class="fa fa-clock"></i>
										1 giờ trước   &emsp;
										<i class="far fa-comment"></i>
										<span>0 &emsp;</span>
										<i class="fas fa-eye"></i>
										<span>4252</span>
									</time>
								</div>
							</a>

						</article>

						<article>
							<a href="#">
								<img src="images/hinh7.jpg">
								<div class="ovrly"></div>
							</a>
							<a href="#">
								<div>
									<p>Singapore nỗ lực thu hút các hãng xe điện
									</p>
									<time>
										<i class="fa fa-clock"></i>
										1 giờ trước   &emsp;
										<i class="far fa-comment"></i>
										<span>0</span>
									</time>
								</div>
							</a>

						</article>

					</div>

				</div>
				<div class="TopChuyenMuc">
					<p> Top Tin Chuyên Mục</p><br>
					<div class="SliderTinXemNhieuNhat">
						<article>
							<a href="#" class="CongNgheColorTag">Công nghệ</a>
							<a href="#">
								<img src="images/TopTinChuyenMuc/hinh1.jpg">
								<div class="ovrly"></div>
							</a>
							<a href="#">
								<div >
									<p>Huawei giới thiệu phần cứng 5G đầu tiên trên thế giới cho xe hơi
									</p>
									<time class="ThongTinGioDang">
										<i class="fa fa-clock"></i>
										1 giờ trước   &emsp;
										<i class="far fa-comment"></i>
										<span>0</span>
									</time>
								</div>
							</a>

						</article>

						<article>
							<a href="#" class="KinhTeColorTag">Kinh tế</a>
							<a href="#">
								<img src="images/TopTinChuyenMuc/hinh4.jpg">
								<div class="ovrly"></div>
							</a>
							<a href="#">
								<div>
									<p>Giá điện lũy kế tăng gần 75%?
									</p>
									<time>
										<i class="fa fa-clock"></i>
										1 giờ trước   &emsp;
										<i class="far fa-comment"></i>
										<span>0</span>
									</time>
								</div>
							</a>

						</article>

						<article>
							<a href="#" class="XaHoiColorTag">Xã Hội</a>
							<a href="#">
								<a href="#">
									<img src="images/TopTinChuyenMuc/hinh2.jpg">
									<div class="ovrly"></div>
								</a>
								<a href="#">
									<div>
										<p>Tổng bí thư, Chủ tịch nước làm trưởng ban lễ tang Đại tướng Lê Đức Anh
										</p>
										<time>
											<i class="fa fa-clock"></i>
											1 giờ trước   &emsp;
											<i class="far fa-comment"></i>
											<span>0</span>
										</time>
									</div>
								</a>

							</article>

							<article>
								<a href="#" class="GiaiTriColorTag">Giải trí</a>
								<a href="#">
									<img src="images/TopTinChuyenMuc/hinh3.jpg">
									<div class="ovrly"></div>
								</a>
								<a href="#">
									<div>
										<p>'Avengers: Endgame' thu hơn 30 tỉ đồng ngày đầu chiếu ở Việt Nam
										</p>
										<time>
											<i class="fa fa-clock"></i>
											1 giờ trước   &emsp;
											<i class="far fa-comment"></i>
											<span>0</span>
										</time>
									</div>
								</a>

							</article>

						</div>

					</div>
					<div class="TinMoiNhat">
						<!-- 	Tin Moi Nhat Cua Xa Hoi -->
						<div class="TinMoiNhatXaHoi">
							<i class="fas fa-globe-americas"></i>
							<p class="TenChuyenMuc">Tin Xã Hội</p><br>
							<div class="SliderTinXemNhieuNhat">

								<article>
									<a href="#">
										<img src="images/ThoiSu/hinh1.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div >
											<p>Tín dụng đen sẽ bị CA Đà Nẵng trấn áp đến 'không còn bóng dáng'
											</p>
											<time class="ThongTinGioDang">
												<i class="fa fa-clock"></i>
												3 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>2</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/ThoiSu/hinh2.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Thủ tướng: Việt Nam ngày càng tự tin, chủ động trong hội nhập
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/ThoiSu/hinh3.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Khốn đốn vì bị lừa xuất khẩu lao động sang Úc
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/ThoiSu/hinh4.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Việt Nam đăng cai Phiên họp Đại Hội đồng thể thao quân sự quốc tế
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

							</div>
						</div>
						<!-- 	Tin Moi Nhat Giai Tri -->
						<div class="TinMoiNhatGiaiTri">
							<div class="IconChuyenMuc" id="TieuDeChuyenMucGiaiTri">
								<i class="fas fa-users"></i>
								<p>Tin Giải trí</p><br>
							</div>

							<div class="SliderTinXemNhieuNhat">

								<article>
									<a href="#">
										<img src="images/GiaiTri/hinh1.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div >
											<p>3 cô gái Black Pink thua người đẹp Philippines trong cuộc đua nhan sắc
											</p>
											<time class="ThongTinGioDang">
												<i class="fa fa-clock"></i>
												3 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>2</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/GiaiTri/hinh2.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Taylor Swift và dàn sao lộng lẫy trên thảm đỏ Time 100
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/GiaiTri/hinh3.jpg">
									</a>
									<a href="#">
										<div>
											<p>Khán giả hãy xem lại Civil War, Infinity War trước Avengers: Endgame
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/GiaiTri/hinh4.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Diễn viên Thanh Trúc lên tiếng trước tin đã sinh con, làm mẹ đơn thân
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

							</div>
						</div>

						<!-- 	Tin Moi Nhat Suc Khoe -->
						<div class="TinMoiNhatSucKhoe">
							<div class="IconChuyenMuc" id="TieuDeChuyenMucSucKhoe">
								<i class="fas fa-stethoscope"></i>
								<p>Tin Sức Khoẻ</p><br>
							</div>			
							<div class="SliderTinXemNhieuNhat">

								<article>
									<a href="#">
										<img src="images/SucKhoe/hinh1.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div >
											<p>9 vấn đề sức khỏe có thể xảy ra khi nắng nóng 40 độ C
											</p>
											<time class="ThongTinGioDang">
												<i class="fa fa-clock"></i>
												3 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>2</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/SucKhoe/hinh2.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p> 9 thời điểm bạn tuyệt đối không nên tắm
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/SucKhoe/hinh3.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Càng béo hút mỡ càng nguy hiểm
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/SucKhoe/hinh4.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Nhiệt độ cao có làm chỉ số tia UV vượt ngưỡng?
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

							</div>
						</div>
						<!-- Tin Tai Chinh -->
						<div class="TinMoiNhatTaiChinh">
							<div class="IconChuyenMuc" id="TieuDeChuyenMucTaiChinh">
								<i class="fas fa-chart-line"></i>
								<p>Tin Kinh Doanh</p><br>
							</div>
							<div class="SliderTinXemNhieuNhat">

								<article>
									<a href="#">
										<img src="images/TaiChinh/hinh1.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div >
											<p>HDBank hưởng lợi gì từ hệ sinh thái đặc quyền?
											</p>
											<time class="ThongTinGioDang">
												<i class="fa fa-clock"></i>
												3 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>2</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/TaiChinh/hinh2.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Mua công ty tài chính, sếp TPBank muốn tránh vết xe đổ của đối thủ
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/TaiChinh/hinh3.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Gửi tiết kiệm tại ngân hàng nào lãi cao nhất hiện nay?
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/TaiChinh/hinh4.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Bao nhiêu startup đã nhận được tiền từ Shark Tank?
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

							</div>
						</div>

						<!-- Tin Cong Nghe -->

						<div class="TinMoiNhatCongNghe">
							<div class="IconChuyenMuc" id="TieuDeChuyenMucCongNghe">
								<i class="fas fa-desktop"></i>
								<p>Tin Công Nghệ</p><br>
							</div>

							<div class="SliderTinXemNhieuNhat">

								<article>
									<a href="#">
										<img src="images/CongNghe/hinh1.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div >
											<p>LG ngừng sản xuất điện thoại ở Hàn Quốc, chuyển sang Việt Nam
											</p>
											<time class="ThongTinGioDang">
												<i class="fa fa-clock"></i>
												3 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>2</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/CongNghe/hinh2.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Làm iPhone quá tốt, Apple đang tự đấu với chính mình
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/CongNghe/hinh3.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Facebook sắp nhận án phạt hàng tỷ USD, kỷ lục giới công nghệ
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

								<article>
									<a href="#">
										<img src="images/CongNghe/hinh4.jpg">
										<div class="ovrly"></div>
									</a>
									<a href="#">
										<div>
											<p>Việt Nam là một trong 5 'mỏ vàng' của YouTube
											</p>
											<time>
												<i class="fa fa-clock"></i>
												1 giờ trước   &emsp;
												<i class="far fa-comment"></i>
												<span>0</span>
											</time>
										</div>
									</a>

								</article>

							</div>
						</div>
					</div>
					<!-- 	Tin Moi Nhat Cua Giai tri -->


				</div>
				<!-- Footer Trang web -->
				<div class="footer">

					<article class="icon-footer">
						<ul>
							<li id="icon-footer-facebook">
								<a href="#" target="black">
									<i class="fab fa-facebook"></i>
								</a>
							</li>

							<li id="icon-footer-twitter">
								<a href="#" target="black">
									<i class="fab fa-twitter"></i>
								</a>
							</li>

							<li id="icon-footer-google">
								<a href="#" target="black">
									<i class="fab fa-google"></i>
								</a>
							</li>

						</ul>
					</article>
					<!-- footer start -->
					<div class="foot">
						<address>
							<h4>Liên hệ</h4>
							<p>
								<i class="fa fa-home"> 227, Nguyễn Văn Cừ, Quận 5, TP Hồ Chí Minh</i>
							</p>
							<p>
								<i class="fa fa-phone"> 0388249061</i>

							</p>
							<p>
								<i class="fa fa-envelope"> phamngocsonl13.cla@gmail.com</i>
							</p>
						</address>
					</div>
					<!-- footer end -->
					<!-- 	Button Arrow Up -->
					<div id="back-to-top">
						<a href="#">
							<i class="fas fa-arrow-up"></i>
						</a>
					</div>
				</div>

</div>

			</div>
		</div>
	</div>		
</body>
</html>

