*{
	margin: 0px;
	padding:0px;
}
body{
	
}
li{
	list-style: none;
}
div{
	
}
.avatar-picture{
	padding-top: 10px;
	width: 110px;
	height: 110px;
	margin-left: auto;
	margin-right: auto;

}

.avatar-picture img{

	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 3px solid white;
}
.Avatar p {
	font-size: 17px;
	text-align: center;
	color: white;
	margin: 5px 10px 5px 10px;
}
.Menu-left{
	position: fixed;
	height: 100%;
	width: 210px;
	background-color: #2A3F54;
	box-shadow:  4px 4px 5px 1px rgba(50, 50, 50, 0.47);
}
.navigation{
	position: sticky;
	left: 0px;
	top: 0px;
	z-index: 10; 
	height:100%;
	width: 100%;
	max-height: 100%;

}
.navigation a{
	height: 30px;
	padding: 10px 0px 10px 20px;
	text-decoration: none;
	color: white;
}
.navigation nav ul li{
	list-style: none;
	padding: 15px 10px;
	width: auto;
	height: auto;
}

div.navigation nav ul ul{
	display: none;
	background-color:#717F8D;

}

div.navigation nav ul li:hover  > ul{
	display:block;
}


.icon{
	color: white;
}
.border-top{
	margin-left: 10px;
	margin-right: 10px;
	border-top: 1px solid #ddd;
}
.border-bot{
	margin-left: 10px;
	margin-right: 10px;
	border-bottom: 1px solid #ddd;
}
@media screen and (min-width: 400px){
	.Menu-left{
		width: 90px;
	}
	.avatar-picture{
		width: 75px;
		height:75px;
		margin-left: auto;
		margin-right: auto;
	}
	.avatar-picture img{
		width: 70px;
		height:70px;
	}
	
}
@media screen and (min-width: 1000px){
	.Menu-left{
		width: 200px;

	}
	.avatar-picture img{

		width: 100px;
		height: 100px;
		border-radius: 50%;
		border: 3px solid white;
	}
	.avatar-picture{
		padding-top: 10px;
		width: 110px;
		height: 110px;
		margin-left: auto;
		margin-right: auto;

	}
	
}
.icon{
	font-size: 17px;
}
.Content-right{
	display: block;
	padding-left: 200px;
	height: 100%;
}
.header-container{
	background-color: white;
	z-index: 100;
	width: calc(100% - 200px);
	margin-bottom: 0;
	padding: 0;
	position: fixed;
	display: block;
	height: 50px;
	border-bottom: 1px solid rgba(0,0,0,.0625);

}
.header-container .nav-right{
	float: right;

}
.header-container .nav-right .item-nav-right{
	position: relative;
	float: left;
	height: 50px;
	width: 50px;
	margin-right: 5px;
	text-align: center;
	line-height: 50px;
	animation-duration: 0.2s;

}
.header-container .nav-right .item-nav-right:hover{
	cursor: pointer;
}
.drop-down-menu{
	box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.25);
	display: none;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: .25rem;
	/*display: block;*/
	position: absolute;
	right: 0px;
	background-color: white;
	width: 200px;
	height: auto;
}
#thong-bao-drop-down-menu{
	width: 400px;
}

.drop-down-menu .drop-down-item{
	text-align: left;
	height: 30px;
	width: auto;
	margin: 6px;
}
.drop-down-menu .drop-down-item a{
	color: black;
	text-decoration: none;
}
#thong-bao-drop-down-menu .drop-down-item{
	height: auto;
}
#thong-bao-drop-down-menu .drop-down-item article{
	display: block;
}
.icon-dashboard{
	text-align: center;
	font-size: 21px;
	color: #72777a;
}
.thong_bao_dashboard:hover i{
	color:#4C4F51;

}
.tin_nhan_dashboard:hover i{
	color:#4C4F51;
}

.so_luong_thong_bao{
	background-color: #ff3c7e;
	border-radius: 50px;
	color: #fff;
	font-size: 10px;
	line-height: 1;
	padding: 3px 5.5px;
	position: absolute;
	right: 6px;
	top: 5px;
}
.so_luong_tin_nhan{
	background-color: #ff3c7e;
	border-radius: 50px;
	color: #fff;
	font-size: 10px;
	line-height: 1;
	padding: 3px 5.5px;
	position: absolute;
	right: 6px;
	top: 5px;
}
.user_dashboard{
	padding-right:  10px;
	height: 50px;
	width: 50px;
}
.user_dashboard:hover{
	cursor: pointer;
}
.user_dashboard img{
	height: 46px;
	width: 46px;
	border: 2px solid #72777a;
	border-radius: 50%;
}
.user_dashboard:hover img{
	border: 2px solid #4C4F51;
} 

/*Viet Bai Dash Board*/
.VietBaiDashboard{
	font-size: 17px;
	padding: 60px 20px 20px;
}
.VietBaiDashboard p{
	margin-bottom: 5px;
	font-weight: 700;


}
#TomTatBaiDang{
	margin-right: 10px;
	width: 100%;
	height: 100px;
	
}
#NoiDungBaiDang{
	margin-right: 10px;
	width: 100%;
	height: 550px;
	
}
#tieu-de-bai-viet{
	margin-bottom: 5px;
	font-size: 17px;
	width: 300px;
	height: 30px;
	border: none;
	border: 1px solid gray;
	border-radius: 5px;
}
#chuyen-de-bai-viet{
	margin-bottom: 5px;
	border: none;
	font-size: 17px;
	border: 1px solid gray;
	border-radius: 5px;
	height: 30px;
	width: 300px;
	box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.3);
}
#them-tag{
	margin-bottom: 5px;
	font-size: 17px;
	width: 300px;
	height: 30px;
	border: none;
	border: 1px solid gray;
	border-radius: 5px;
}
.TieuDeTrang{
	text-align: center;
	font-size: 20px;
	font-weight: 700;
}
#btn-luu-bai-viet{
	color: white;
	border-radius: 5px;
	width: 150px;
	height: 30px;
	border: none;
	border: 1px solid gray;
	background-color: #686de0;
	box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.25);
}
#btn-luu-bai-viet:hover{
	background-color: #4834d4;
	box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.5);
	cursor: pointer;
}
#btn-huy-bo-bai-viet{
	color: white;
	background-color: #eb4d4b;
	border-radius: 5px;
	border: none;
	width: 150px;
	height: 30px;
	border: 1px solid gray;
	box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.25);
}
#btn-huy-bo-bai-viet:hover{
	background-color: #e74c3c;
	box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.5);
	cursor: pointer;
}
#btn-xuat-ban-bai-viet{
	color: white;
	background-color: #6ab04c;
	border-radius: 5px;
	border: none;
	width: 150px;
	height: 30px;
	border: 1px solid gray;
	box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.25);
}
#btn-xuat-ban-bai-viet:hover{
	background-color: #badc58;
	box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.5);
	cursor: pointer;
}
.btn-xem-bai-viet{

	width: 100px;
	height:30px;
	border: none;
	border-radius: 5px;
	color:white;
	background-color: #34495e;
	box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.25);

}
.btn-xem-bai-viet:hover{
	cursor: pointer;
	background-color: #2c3e50;
	box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.5);

}
.DanhSachBaiVietDashboard{
	padding: 60px 20px 20px;
}
.DanhSachBaiVietDashboard p{
	margin-bottom: 5px;
	font-weight: 700;
}
/*Bang du lieu danh sach bai viet da xuat ban*/
.table-danh-sach-bai-viet{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}
.table-danh-sach-bai-viet tr:hover{
	cursor: pointer;
	background-color: #BDC3C7;
	color: white;
}
.table-danh-sach-bai-viet td{
	padding: 20px;
}
.table-danh-sach-bai-viet #header-table{
	background-color: #535c68;
	color: white;
}
.DanhSachBaiVietBiTuChoiDashboard{
	padding: 60px 20px 20px;
}
.DanhSachBaiVietBiTuChoiDashboard p{
	margin-bottom: 5px;
	font-weight: 700;
}

.DanhSachBaiVietChoXuatBaniDashboard{
	padding: 60px 20px 20px;
}
.DanhSachBaiVietChoXuatBaniDashboard p{
	margin-bottom: 5px;
	font-weight: 700;
}
.DanhSachBaiVietChoKiemDuyetDashboard{
	padding: 60px 20px 20px;
}
.DanhSachBaiVietChoKiemDuyetDashboard p{
	margin-bottom: 5px;
	font-weight: 700;
}
/*Trang chu*/
.TrangChuDashboard{

	padding: 60px 20px 20px;
}
.TrangChuDashboard div{
	display: flex;
	justify-content: center;
}
.TrangChuDashboard p{
	margin-bottom: 5px;
	font-weight: 700;
}
.TrangChuDashboard article{
	margin:10px;
	height: 200px;
	width: 200px;
	box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.25);
}
#so-luong-bai-viet-da-xuat-ban{
	border-radius: 10px;
	background-color: #3498db;
	color: white;
}
#so-luong-bai-viet-da-xuat-ban:hover{
	background-color:#2980b9;
	box-shadow: 5px 5px 9px 0 rgba(0,0,0,0.4);
}
#so-luong-bai-viet-tu-choi{
	border-radius: 10px;
	background-color: #2ecc71;
	color: white;
}
#so-luong-bai-viet-tu-choi:hover{
	background-color:#27ae60;
	box-shadow: 5px 5px 9px 0 rgba(0,0,0,0.4);
}
#so-luong-bai-viet-da-viet{
	border-radius: 10px;
	background-color: #f1c40f;
	color: white;
}
#so-luong-bai-viet-da-viet:hover{
	background-color:#f39c12;
	box-shadow: 5px 5px 9px 0 rgba(0,0,0,0.4);
}
#so-luot-like{
	border-radius: 10px;
	background-color: #9b59b6;
	color: white;
}
#so-luot-like:hover{
	background-color:#8e44ad;
	box-shadow: 5px 5px 9px 0 rgba(0,0,0,0.4);
}
#so-luot-chia-se{
	border-radius: 10px;
	background-color: #95a5a6;
	color: white;
}
#so-luot-chia-se:hover{
	background-color:#7f8c8d;
	box-shadow: 5px 5px 9px 0 rgba(0,0,0,0.4);
}
.number{
	line-height: 150px;
	text-align: center;
	font-size: 80px;
}
.tieu-de{
	text-align: center;
	margin: 10px;
}
.TrangChuDashboard #danh-sach-cac-bai-viet-chuyen-de{
	background-color: #bdc3c7;
	float: none;
	display: block;
	width: 1080px;
	height: 500px;
	margin-right: auto;
	margin-left: auto;
	font-size: 20px;
	border-radius: 5px;
	box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.25);
}
#danh-sach-cac-bai-viet-chuyen-de ul li{
	line-height: 99px;
	list-style: none;
	height: 99px;
	border-bottom: 1px solid #95a5a6;
}
#danh-sach-cac-bai-viet-chuyen-de ul li:last-child{
	border:none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

}
#danh-sach-cac-bai-viet-chuyen-de ul li:first-child{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

}
#danh-sach-cac-bai-viet-chuyen-de ul li i{
	margin-left: 30px;
}
#danh-sach-cac-bai-viet-chuyen-de ul li:hover {
	background-color: #8C8F90;
}
#danh-sach-cac-bai-viet-chuyen-de ul li i,label{
	color: white;
}
#ViewAllNotification{
	text-decoration: none;
	color: black;

}
#ViewAllNotification:hover{
	text-decoration: underline;
}
.BaiVietTamDashboard{
	padding: 60px 20px 20px;
}
.fa-bars{
	color: white;
	font-size: 30px;
	text-align: center;

}
.btn-toggle{
	left:30px;
	bottom:5px;
	position: fixed;
	border: none;
	background-color: transparent;

}

#tin-nhan-drop-down-menu{
	height: 400px;
	width: 300px;
}

@media screen and (max-width: 370px){
	*{
		font-size: 2em; 
	}
	.Menu-left{
		width: 90px;
	}
/*	.navigation{
		position: relative;
	}
	.navigation nav{
		display: none;
	}*/
	.avatar-picture{
		width: 75px;
		height:75px;
		margin-left: auto;
		margin-right: auto;
	}
	.avatar-picture img{
		width: 70px;
		height:70px;
	}
	
}
@media screen and (min-width:371 )and (max-width: 1000px){
	.Menu-left{
		width: 200px;

	}
	.avatar-picture img{

		width: 100px;
		height: 100px;
		border-radius: 50%;
		border: 3px solid white;
	}
	.avatar-picture{
		padding-top: 10px;
		width: 110px;
		height: 110px;
		margin-left: auto;
		margin-right: auto;

	}
	
}