<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/public/css/user.css">
</head>
<body>
	<div class="header">
			<img src="/images/logo.png" id="LogoWeb">	
		</div>

	<div class="UserBox">
		<p class="bigSize">Thông tin cá nhân</p>
		<form method="POST">
			<div class="InputDiv">
				<p>Họ và tên</p>
				<input style="height: 22px" class="text-input" type="text" name="name" placeholder="&ensp;Your Name" id="textboxName" value="{{account.name}}">
				<span>
					<i class="fas fa-user"></i>
				</span>
			</div>
			<div class="InputEmail">
				<p>Email</p>
				<input type="text" name="email" placeholder="&ensp;Your Email" id="textboxEmail" value="{{account.email}}">
				<span>
					<i class="far fa-envelope"></i>
				</span>
			</div>
			<p class="bigSize">Đổi Mật khẩu</p>
			<div class="InputPassword">
				<p>Mật khẩu hiện tại</p>

				<input type="Password" name="" placeholder="&ensp;Password" id="textboxPassword" value = {{account.password}} readonly>
				<span>
					<i class="fas fa-unlock-alt"></i>
				</span> 
			</div>
			<div class="InputPassword">
				<p>Mật khẩu mới</p>
				<input type="Password" name="newpass" placeholder="&ensp; Repeat Password" id="textboxPassword">
				<span>
					<i class="fas fa-unlock-alt"></i>
				</span> 
			</div>
			<div class="InputPassword">
				<p>Nhập lại mật khẩu mới</p>
				<input type="Password" name="repeat" placeholder="&ensp; Repeat Password" id="textboxPassword">
				<span>
					<i class="fas fa-unlock-alt"></i>
				</span> 
			</div>

			<!-- <div class="LoginWithAnotherWay">
				<button class="btnFacebook">
					<i class="fab fa-facebook-f"></i>
					LOGIN WITH FACEBOOK
				</button>
				<button  class="btnGoogle">
					<i class="fab fa-google"></i>
					LOGIN WITH GOOGLE
				</button>
			</div> -->
			<div class="buttonDiv">
				<div class="SubmitLogin">
				<button class="btnLogin">
					Lưu thay đổi
				</button>
				</div>
				<div class="SubmitLogin">
				<button class="btnLogin">
					Huỷ
				</button>
			</div>
			</div>
			
		</form>
	</div>
</body>
</html>