<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>DashboardAdmin</title>
	<link rel="stylesheet" type="text/css" href="/public/css/DashboardAdmin.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="Menu-left">
			<div class="Avatar border-bot">
				<div class="avatar-picture">
					<img src="../images/avatar_writer.jpg" alt="">
				</div>
				<p class="nameWitter">
					Phạm Ngọc Sơn
				</p>
			</div>
			<div class="navigation">
				<nav>
					<ul>
						<li class="homepage" title="Trang chủ" id="li-trang-chu">
							<i class="fas fa-home icon"></i>
							<a href="#">
								Trang chủ
							</a>
						</li>
						<li>
							<i class="far fa-file-alt icon"></i>
							<a href="#">Danh sách độc giả</a>
							<i class="fas fa-angle-down icon"></i>
							<ul>
								<li id="li-quan-ly-doc-gia">
									<a href="#">Tất cả độc giả</a>
								</li>
								<li id="li-quan-ly-premium">
									<a href="#">Độc giả premium</a>
								</li>
							</ul>
						</li>
						<li id="li-quan-ly-phong-vien">
							<i class="far fa-edit icon"></i>
							<a href="#">Danh sách phóng viên</a>					
						</li>
						<li>
							<i class="far fa-edit icon"></i>
							<a href="#">Quản lý nội dung</a>
							<i class="fas fa-angle-down icon"></i>
							<ul>
								<li id="li-quan-ly-bai-viet">
									<a href="#">Quản lý bài viết</a>
								</li>
								<li id="li-quan-ly-nhan">
									<a href="#">Quản lí nhãn</a>
								</li>
								<li id="li-quan-ly-chuyen-muc">
									<a href="#">Quản lý chuyên mục</a>
								</li>
							</ul>
						</li>

					<!-- 	<li>
							<i class="fas fa-chart-line icon"></i>
							<a href="#">Thông kê</a>
							<i class="fas fa-angle-down icon"></i>
							<ul>
								<li>
									<a href="#">Bài viết</a>
								</li>
								<li>
									<a href="#">Tương tác</a>
								</li>

							</ul>

						</li>
						<li>
							<i class="fas fa-user-cog icon"></i>
							<a href="#">Cài đặt</a>
						</li> -->
					</ul>
				</nav>
			</div>
		</div>
		<div class="Content-right">
			<div class="header-container">
				<div class="nav-left">
					
				</div>
				<ul class="nav-right">
					<li class="thong_bao_dashboard item-nav-right">
						<span class="so_luong_thong_bao">3</span>
						<i class="far fa-bell icon-dashboard"></i>
						<ul id="thong-bao-drop-down-menu" class="drop-down-menu">
							<li class="border-bot">
								<i class="far fa-bell"></i>
								Thông báo
							</li>
							<li class="drop-down-item">
								<article class="border-bot">
									<a href="">Bài viết "Firefox chặn Add-on dùng kỹ thuật che giấu mã nguồn" đã được xuất bản
									</a>
								</article>
								
							</li>
							<li class="drop-down-item">
								<article class="border-bot">
									<a href="">Bài viết "Giá USD tự do lao dốc, thấp hơn ngân hàng" đã được xuất bản
									</a>
								</article>
							</li>
							<li class="drop-down-item">
								
								<article class="border-bot">
									<a href="">Bài viết "Lộ thông tin chi tiết mẫu smartphone Mate 30 Pro" đã bị từ chối
									</a>
								</article>
							</li>
							<li class="border-bot">
								<a href="">
									Xem tát cả thông báo
								</a>
								
								<i class="fas fa-arrow-right"></i>
							</li>
							
						</ul>
					</li>
					<li class="tin_nhan_dashboard item-nav-right">
						<span class="so_luong_tin_nhan">5</span>
						<i class="far fa-envelope icon-dashboard"></i>

					</li>
					<li class="user_dashboard item-nav-right">
						<img src="../images/avatar_writer.jpg" alt="">
						<ul id="user-drop-down-menu" class="drop-down-menu">
							<li class="drop-down-item">
								<a href="">
									<i class="fas fa-cog"></i>
									Cài đặt
								</a>
							</li>
							<li class="drop-down-item">
								<a href="">
									<i class="far fa-id-card"></i>
									Thông tin tài khoản
								</a>
							</li>
							<li class="drop-down-item">
								<a href="">
									<i class="far fa-envelope"></i>
									Tin nhắn
								</a>
							</li>
							<li class="drop-down-item">
								<a href="">
									<i class="fas fa-sign-out-alt"></i>
									Logout
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- Trang chu -->
			<div class="TrangChuDashboard panel">
				<p class="TieuDeTrang">Trang chủ</p>
				<div>
					<article id="so-luong-bai-viet-da-xuat-ban">
						<p class="tieu-de">Bài viết đã xuất bản</p>
						<p class="number">10</p>
					</article>
					<article  id="so-luong-bai-viet-tu-choi">
						<p class="tieu-de">Bài viết bị từ chối</p>
						<p class="number">2</p>
					</article>
					<article  id="so-luong-bai-viet-da-viet">
						<p class="tieu-de">Số lượng bài viết đã viết</p>
						<p class="number">12</p>
					</article>
					<article  id="so-luot-like">
						<p class="tieu-de">Số lượt like</p>
						<p class="number">56</p>
					</article>
					<article id="so-luot-chia-se">
						<p class="tieu-de">Số lượng chia sẽ</p>
						<p class="number">10</p>
					</article>


				</div>
				<p class="TieuDeTrang">Danh sách các chuyên đề đã viết</p>
				<article id="danh-sach-cac-bai-viet-chuyen-de">

					<ul>
						<li>
							<label>Xã hội:</label>
							5
						</li>
						<li>
							<label>Giải trí:</label>
							5
						</li>
						<li>
							<label>Sức khoẻ:</label>
							5
						</li>
						<li>
							<label>Kinh doanh:</label>
							5
						</li>
						<li>
							<label>Công nghệ:</label>
							5
						</li>
					</ul>
				</article>
			</div>
			<div class="DanhSachBaiVietDashboard panel">
				  
				
			</div>

			<!-- Quản lý phóng viên -->
			<div class="QuanlyPhongVien panel">
				<p class="TieuDeTrang">Danh sách phóng viên</p>
					<div class="data-table">
					<table border="1px" class="table-danh-sach-bai-viet">
						<tr id="header-table">
							<td>STT</td>
							<td>Tên độc giả</td>
							<td>Email</td>
							<td>Chức năng</td>
						</tr>		
						<tr>
							<td>1</td>
							<td>Nguyễn Hoàng Sang</td>
							<td>nguyenhoangsang@gmail.com</td>
							<td>
								<button class="btn-chuc-nang"><i class="fas fa-edit"></i> &nbsp Xoá</button>
								
							</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Phạm Tú Uyên</td>
							<td>phamtuuyen@gmail.com</td>
							<td>
								<button class="btn-chuc-nang"><i class="fas fa-edit"></i> &nbsp Xoá</button>
								
							</td>
						</tr>

						<tr>
							<td>3</td>
							<td>NguyenThiAnh</td>
							<td>nguyenthianh@gmail.com</td>
							<td>
								<button class="btn-chuc-nang"><i class="fas fa-edit"></i> &nbsp Xoá</button>
								
							</td>
						</tr>					
					</table>
				</div>
			</div>

				<!-- 	Quản lý độc giả prmium-->
			<div class="QuanLyDocGiaPremium panel">
				<p class="TieuDeTrang">Danh sách độc giả Premium</p>
				<div class="data-table">
					<table border="1px" class="table-danh-sach-bai-viet">
						<tr id="header-table">
							<td>STT</td>
							<td>Tên độc giả</td>
							<td>Email</td>
							<td>Chức năng</td>
						</tr>		
						<tr>
							<td>1</td>
							<td>Nguyễn Hoàng Sang</td>
							<td>nguyenhoangsang@gmail.com</td>
							<td>
								<button class="btn-chuc-nang"><i class="fas fa-edit"></i> &nbsp Xoá</button>
								<button class="btn-chuc-nang"><i class="fas fa-money-check-alt"></i> &nbsp Gia hạn</button>
							</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Phạm Tú Uyên</td>
							<td>phamtuuyen@gmail.com</td>
							<td>
								<button class="btn-chuc-nang"><i class="fas fa-edit"></i> &nbsp Xoá</button>
								<button class="btn-chuc-nang"><i class="fas fa-money-check-alt"></i> &nbsp Gia hạn</button>
							</td>
						</tr>

						<tr>
							<td>3</td>
							<td>NguyenThiAnh</td>
							<td>nguyenthianh@gmail.com</td>
							<td>
								<button class="btn-chuc-nang"><i class="fas fa-edit"></i> &nbsp Xoá</button>
								<button class="btn-chuc-nang"><i class="fas fa-money-check-alt"></i> &nbsp Gia hạn</button>
							</td>
						</tr>					
					</table>
				</div>
			</div>

			<!-- 	Quản lý độc giả -->
			<div class="QuanLyDocGia panel">
				<p class="TieuDeTrang">Danh sách độc giả</p>
				<div class="data-table">
					<table border="1px" class="table-danh-sach-bai-viet">
						<tr id="header-table">
							<td>STT</td>
							<td>Tên độc giả</td>
							<td>Email</td>
							<td>Chức năng</td>
						</tr>		
						<tr>
							<td>1</td>
							<td>Nguyễn Hoàng Sang</td>
							<td>nguyenhoangsang@gmail.com</td>
							<td>
								<button class="btn-chuc-nang"><i class="fas fa-edit"></i> &nbsp Xoá</button>
							</td>
						</tr>

						<tr>
							<td>2</td>
							<td>Trần Phú Sý</td>
							<td>tranphusy@gmail.com</td>
							<td>
								<button class="btn-chuc-nang"><i class="fas fa-edit"></i> &nbsp Xoá</button>
							</td>
						</tr>

						<tr>
							<td>3</td>
							<td>Phạm Tú Uyên</td>
							<td>phamtuuyen@gmail.com</td>
							<td>
								<button class="btn-chuc-nang"><i class="fas fa-edit"></i> &nbsp Xoá</button>
							</td>
						</tr>

						<tr>
							<td>4</td>
							<td>NguyenThiAnh</td>
							<td>nguyenthianh@gmail.com</td>
							<td>
								<button class="btn-chuc-nang"><i class="fas fa-edit"></i> &nbsp Xoá</button>
							</td>
						</tr>					
					</table>
				</div>
			</div>
			<!-- 	Quản lý bài viết -->
			<div class="QuanLyBaiViet panel">
				<p class="TieuDeTrang">Danh sách bài viết</p>
				<div class="data-table">
					<table border="1px" class="table-danh-sach-bai-viet">
						<tr id="header-table">
							<td>STT</td>
							<td>Tên bài viết</td>
							<td>Chuyên mục</td>
							<td>Nguời kiểm duyệt</td>
							<td>Ngày kiểm duyệt</td>
							<td>Trạng thái</td>
							<td>Xuất bản</td>
						</tr>		
						<tr>
							<td>1</td>
							<td>Firefox chặn Add-on dùng kỹ thuật che giấu mã nguồn</td>
							<td>Công nghệ</td>
							<td>Hứa Thanh Sơn</td>
							<td>08:24, 04/05/2019 </td>
							<td>Đã xuất bản</td>
							<td>
								<button class="btn-xem-bai-viet">Xem bài viết</button>
							</td>
						</tr>

						<tr>
							<td>2</td>
							<td>Xem xét kỷ luật nguyên Phó Thủ tướng Vũ Văn Ninh</td>
							<td>Thời sự</td>
							<td>Nguyễm Công Sơn</td>
							<td>08:24, 04/05/2019 </td>
							<td>Chưa được duyệt</td>
							<td>
								<button class="btn-xem-bai-viet">Xem bài viết</button>
							</td>
						</tr>

						<tr>
							<td>3</td>
							<td>'Thánh nữ mì gõ' Phi Huyền Trang nổi tiếng ra sao?</td>
							<td>Giải trí</td>
							<td>Nguyễm Công Sơn</td>
							<td>08:24, 04/05/2019 </td>
							<td>Bị từ chối</td>
							<td>
								<button class="btn-xem-bai-viet">Xem bài viết</button>
							</td>
						</tr>

						<tr>
							<td>4</td>
							<td>Từ kẻ nghiện ngập, ‘Người sắt’ Robert Downey Jr. vươn lên thành tài tử triệu đô</td>
							<td>Giải trí</td>
							<td>Nguyễm Công Sơn</td>
							<td>08:24, 04/05/2019 </td>
							<td>Đã xuất bản</td>
							<td>
								<button class="btn-xem-bai-viet">Xem bài viết</button>
							</td>
						</tr>
						<tr>
							<td>5</td>
							<td>Google Maps làm nổi bật hình ảnh các món ăn phổ biến nhất của nhà hàng</td>
							<td>Công nghệ</td>
							<td>Nguyễm Công Sơn</td>
							<td>08:24, 04/05/2019 </td>
							<td>Chờ xuất bản</td>
							<td>
								<button class="btn-xem-bai-viet">Xem bài viết</button>
							</td>
						</tr>
						
					</table>
				</div>

			</div>
		
			<!-- Quản lý chuyên mục -->
			<div class="QuanLyChuyenMuc panel">
				<p class="TieuDeTrang">Danh sách chuyên mục</p>

				<div>
					
					<button  class="btn-chuc-nang m-auto"> <i class="fas fa-plus"></i> &nbsp Thêm chuyên mục</button>
				</div>
				<!-- chỗ này m dùng dung for để đổ dữ liệu dô nha.mỗi cái data-table là một cái chuyên mục á  -->

				<!-- Tin Xa hoi -->
				<div class="data-table ChuyenMucDiv">
					<h4 class="TenChuyenMuc">Xã Hội</h4>
					<div class="align-item-center">
						<button class="btn-chuc-nang m-auto"> <i class="far fa-trash-alt"></i> &nbspXoá chuyên mục</button>
						<button  class="btn-chuc-nang m-auto"> <i class="fas fa-edit"></i> &nbsp Sửa tên chuyên mục</button>
					</div>
					
					<table border="1px" class="table-danh-sach-bai-viet table-hover m-5">
						<tr id="header-table">
							<td>STT</td>
							<td>Tên chuyên mục</td>
							<td>Chức năng</td>
						</tr>		
						<tr>
							<td>1</td>
							<td>Thời sự</td>
							<td>
								<button class="btn-xem-bai-viet"><i class="far fa-trash-alt"></i> &nbsp Xoá</button>
								<button class="btn-xem-bai-viet">  <i class="fas fa-edit"></i> &nbsp  Chỉnh sửa</button>
							</td>
						</tr>

						<tr>
							<td>2</td>
							<td>Pháp luật</td>
							<td>
								<button class="btn-xem-bai-viet">Xoá</button>
								<button class="btn-xem-bai-viet">Chỉnh sửa</button>
							</td>
						</tr>					
					</table>
				</div>
				<!-- Tin Giai Tri -->
				<div class="data-table ChuyenMucDiv">
					<h4 class="TenChuyenMuc">Giải trí</h4>
					<div class="align-item-center">
						<button class="btn-chuc-nang m-auto"> <i class="far fa-trash-alt"></i> &nbsp Xoá chuyên mục</button>
						<button  class="btn-chuc-nang m-auto"> <i class="fas fa-edit"></i> &nbspSửa tên chuyên mục</button>
					</div>
					
					<table border="1px" class="table-danh-sach-bai-viet table-hover m-5">
						<tr id="header-table">
							<td>STT</td>
							<td>Tên chuyên mục</td>
							<td>Chức năng</td>
						</tr>		
						<tr>
							<td>1</td>
							<td>Ngôi sao</td>
							<td>
								<button class="btn-xem-bai-viet"> <i class="far fa-trash-alt"></i> &nbsp Xoá</button>
								<button class="btn-xem-bai-viet"> 
									<i class="fas fa-edit"></i> &nbsp Chỉnh sửa</button>
							</td>
						</tr>

						<tr>
							<td>2</td>
							<td>Điện ảnh</td>
							<td>
								<button class="btn-xem-bai-viet">  <i class="far fa-trash-alt"></i> &nbspXoá</button>
								<button class="btn-xem-bai-viet"> <i class="fas fa-edit"></i> &nbsp Chỉnh sửa</button>
							</td>
						</tr>					
					</table>
				</div>
				<div class="data-table ChuyenMucDiv">
					<h4 class="TenChuyenMuc">Kinh Doanh</h4>
					<div class="align-item-center">
						<button class="btn-chuc-nang m-auto"> <i class="far fa-trash-alt"></i> &nbsp Xoá chuyên mục</button>
						<button  class="btn-chuc-nang m-auto"><i class="fas fa-edit"></i> &nbsp Sửa tên chuyên mục</button>
					</div>
					
					<table border="1px" class="table-danh-sach-bai-viet table-hover m-5">
						<tr id="header-table">
							<td>STT</td>
							<td>Tên chuyên mục</td>
							<td>Chức năng</td>
						</tr>		
						<tr>
							<td>1</td>
							<td>Nông sản</td>
							<td>
								<button class="btn-xem-bai-viet"> <i class="far fa-trash-alt"></i> &nbsp  Xoá</button>
								<button class="btn-xem-bai-viet"><i class="fas fa-edit"></i> &nbsp Chỉnh sửa</button>
							</td>
						</tr>

						<tr>
							<td>2</td>
							<td>Hải sản</td>
							<td>
								<button class="btn-xem-bai-viet">   <i class="far fa-trash-alt"></i> &nbsp  Xoá</button>
								<button class="btn-xem-bai-viet"><i class="fas fa-edit"></i> &nbsp Chỉnh sửa</button>
							</td>
						</tr>					
					</table>
				</div>
			</div>
			
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script type="text/javascript" src="/public/js/DashboardAdmin.js"></script>
</body>
</html>